{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero  contenedor-secciones-hero">
  <div class="c-grid-image--right">
    <img data-src="/assets/images/proyectos/helvetia-2-cabecera-2.jpg" class="lazyload" alt="Seguros Helvetia Suiza" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-7">
        <h1 class="c-title--pre text-uppercase mt-3 mt-md-4 mb-0">SEGUROS HELVETIA SUIZA</h1>
        <h2 class="h-extrahuge"><strong>Contratar tranquilidad</strong><br> de manera sencilla</h2>
        <p class="c-title--sub">(sin importar cómo ni dónde)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-6">
        <p class="mb-0">La división de Speciality Lines de Helvetia Suiza ofrece pólizas de seguros especializadas para empresas y quería ser pionera en su país ofreciendo la <strong>contratación online de su producto de seguro</strong> de responsabilidad para pequeños transportistas. Todo un reto. </p>
      </div>
    </div>
  </div>
</section>


<section class="u-bg-gray-light py-5 px-4 p-md-5 py-lg-7 mb-5  mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <p class="mb-md-6 c-title--big">
          Conseguimos desarrollar una experiencia de navegación fluída y totalmente responsive, con la dificultad añadida de condensar varios pasos de un cotizador de manera ágil y amena. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-2 offset-lg-1">
        <h5 class="c-title--pre mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Seguros Helvetia Suiza</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Storytelling</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Diseño web</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">React</li>
           <li class="u-list-none mb-0">Spring Boot</li>
            <li class="u-list-none mb-0">OpenShift</li>
        </ul>
      </div>
     <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Web
        </h5>
         <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="https://www.helvetia.com/ch/clo/app/calculator/vehicles" target="_blank">Carriers Liability</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="contenedor-secciones-xl mb-md-7 pb-md-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0 ">
    <img data-src="/assets/images/proyectos/helvetia-2-desafio" class="lazyloaded" alt="Seguros Helvetia Suiza" src="/assets/images/proyectos/helvetia-2-desafio.jpg">
  </div>
  <div class="container mb-md-8">
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-5 col-lg-4 col-xl-3">
        <div class="pt-md-2 pt-xl-5">
          <h3>El desafío</h3>
          <p class>
          El reto principal consistió en pensar como dar <strong>soporte bajo una misma herramienta a cliente final, agentes propios y mediadores</strong> optimizando el flujo de gestión de ofertas y contratación.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-pattern c-bg-pattern__left mb-5 mb-md-6 mb-lg-7 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/helvetia-2-enfoque" class="lazyloaded u-img-fluid" alt="Seguros Helvetia Suiza" src="/assets/images/proyectos/helvetia-2-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
          <h3 class="pt-md-2 pt-xl-5">Nuestro enfoque</h3>
          <p>
            En tan solo 4 meses, diseñamos, construimos e integramos con sus sistemas una solución a medida, que incluye un cotizador de seguro, mecanismo de “salvar & recuperar ofertas”, solicitud de contratación online y aplicación para cotización, seguimiento de ofertas y contratación para agentes y mediadores.
            </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
    <div class="row">
      <div class="col-md-12  col-xl-10 offset-xl-1">
        <p class="c-title--big mb-md-6 mb-lg-7">
         Conseguimos desarrollar una experiencia de navegación fuida y totalmente responsive, con la dificultad añadida de condensar varios pasos de un cotizador de manera ágil y amena. 
        </p>
      </div>
    </div>
      <div class="row mb-lg-5 mb-xl-0">
        <div class="col-md-12 col-lg-6 col-xl-3 offset-xl-1">
          <div class="d-flex flex-column">
            <h3 class="mt-3">
              Producto final
            </h3>
            <p class="mb-5 mb-md-5 mb-lg-0">
              Así, logramos simplificar en unos pocos pasos y de forma sencilla la solicitud de precio del seguro de transportes. Y además, construimos una solución que puede ser reutilizada para implementar nuevas calculadoras para otros productos de manera muy ágil. Una misma solución tanto para la red de agentes, como para el B2B. Todo en uno.
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/helvetia-2-producto-final-1" class="lazyloaded u-img-fluid" alt="Seguros Helvetia Suiza" src="/assets/images/proyectos/helvetia-2-producto-final-1.png">
        </div>
      </div>

    <div class="row">
        <div class="col-md-12 col-lg-6 d-flex order-2 order-lg-0">
          <div class="pt-lg-0 pt-xl-6  pb-lg-0">
            <img data-src="/assets/images/proyectos/helvetia-2-producto-final-2" class="lazyloaded u-img-fluid" alt="Seguros Helvetia Suiza" src="/assets/images/proyectos/helvetia-2-producto-final-2.jpg">
          </div>
        </div>
         <div class="col-md-12 col-lg-6  mb-xl-6 d-flex c-bg-pattern c-bg-pattern__rigth">
          <div class="d-flex">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <p class="mb-2">
                    <strong>Para saber más:</strong>
                  </p>
                     <a href="https://www.helvetia.com/ch/clo/app/calculator/vehicles" target="_blank">
                    <span class="c-link-especial">
                      Carriers Liability
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12  col-xl-10 offset-xl-1 mb-3">
        <p class="c-title--big mb-md-6">
          Para optimizar el proceso y alcanzar los objetivos del proyecto hemos trabajado con:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
            <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="c-title-large">
              React
            </h4>
            <p>
              Apostamos por React por la estabilidad y la versatilidad que proporciona frente a otros frameworks.
            </p>
          </div>
        </div>
      </div>
      <div class="ol-md-12 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
                  {{svgSprite('openshift')}}
          </div>
          <div>
           <h4 class="c-title-large">
              OpenShift
           </h4>
             <p>
               Toda la solución está desplegada sobre infraestructura PaaS basada en contenedores y orquestada por RedHat OpenShift.
             </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
           <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('springboot')}}
          </div>
          <div>
            <h4 class="c-title-large">
              Spring Boot
            </h4>
            <p>
              Seleccionamos Java y el framework Spring Boot por su robustez, seguridad y alta flexibilidad que ofrece para desarrollar API’s de soporte al front-end React, al tiempo que garantiza una integración sin fricciones con los sistemas corporativos de contratación Helvetia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="c-texto--center">
          <h3 class="c-title--big mb-4">
            ¿Tienes alguna <strong>duda</strong> sobre este <strong>proyecto?</strong> <br>¿Te gustaría ver otros similares?
          </h3>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
