{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}
<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--helvetia-suiza text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-sm letter-base font-400">SEGUROS HELVETIA SUIZA</p>
          <h1 class="title-hero mb-4">
          Contratar tranquilidad de manera sencilla
          </h1>
          <p class="font-secondary text-3xl color-red-middle mb-4">(sin importar cómo ni dónde)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-10 col-xl-7">
              <p>
               La división de Speciality Lines de Helvetia Suiza ofrece pólizas de seguros especializadas para empresas y quería ser pionera en su país ofreciendo la <strong>contratación online de su producto de seguro</strong> de responsabilidad para pequeños transportistas. Todo un reto. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red">
          Conseguimos desarrollar una experiencia de navegación fluída y totalmente responsive, con la dificultad añadida de condensar varios pasos de un cotizador de manera ágil y amena.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-2xl font-light line-2xl">
        <strong>Cliente:</strong> Seguros Helvetia Suiza /
        <strong>Estrategia:</strong> Storytelling /
        <strong>Diseño:</strong> Diseño Web /
        <strong>Tecnología:</strong> React <span class="color-red">+</span> Spring Boot <span class="color-red">+</span> OpenShift /
        <strong>Web:</strong> <a class="c-link" href="https://www.helvetia.com/ch/clo/app/calculator/vehicles" target="_blank">Carriers Liability</a>
        </p>
      </div>
    </div>
  </div>
</section>
<div class="c-separator--line c-separator--line__horizontal"><hr /></div>
<section class="contenedor-secciones mb-md-7 mb-lg-5 mb-xl-4">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/helvetia-2-desafio" class="lazyloaded" alt="Seguros Helvetia Suiza" src="/assets/images/proyectos/helvetia-2-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-6xl mb-4">El desafío</h3>
          <p>
          El reto principal consistió en pensar como dar <strong>soporte bajo una misma herramienta a cliente final, agentes propios y mediadores</strong> optimizando el flujo de gestión de ofertas y contratación.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-pattern c-bg-pattern__left mb-5 mb-md-7 pt-md-5 pt-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/helvetia-2-enfoque" class="lazyloaded u-img-fluid" alt="Seguros Helvetia Suiza" src="/assets/images/proyectos/helvetia-2-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
          <h3 class="title-6xl mb-4">Nuestro enfoque</h3>
          <p>
            En tan solo 4 meses, diseñamos, construimos e integramos con sus sistemas una solución a medida, que incluye un cotizador de seguro, mecanismo de “salvar & recuperar ofertas”, solicitud de contratación online y aplicación para cotización, seguimiento de ofertas y contratación para agentes y mediadores.
            </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10">
        <p class="title-slim-6xl u-strong-red">
         Conseguimos desarrollar una experiencia de navegación fuida y totalmente responsive, con la dificultad añadida de condensar varios pasos de un cotizador de manera ágil y amena.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-4 mb-md-5">
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="d-flex flex-column">
            <h3 class="title-6xl mb-4">
              Producto final
            </h3>
            <p class="mb-4 mb-md-5 mb-lg-0">
              Así, logramos simplificar en unos pocos pasos y de forma sencilla la solicitud de precio del seguro de transportes. Y además, construimos una solución que puede ser reutilizada para implementar nuevas calculadoras para otros productos de manera muy ágil. Una misma solución tanto para la red de agentes, como para el B2B. Todo en uno.
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/helvetia-2-producto-final-1" class="lazyloaded u-img-fluid" alt="Seguros Helvetia Suiza" src="/assets/images/proyectos/helvetia-2-producto-final-1.png">
        </div>
      </div>

    <div class="row">
        <div class="col-md-12 col-lg-6 d-flex order-2 order-lg-0">
          <div class="pt-lg-0 pt-xl-6  pb-lg-0">
            <img data-src="/assets/images/proyectos/helvetia-2-producto-final-2" class="lazyloaded u-img-fluid" alt="Seguros Helvetia Suiza" src="/assets/images/proyectos/helvetia-2-producto-final-2.jpg">
          </div>
        </div>
         <div class="col-md-12 col-lg-6  mb-xl-6 d-flex c-bg-pattern c-bg-pattern__rigth">
          <div class="d-flex">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <h4 class="title-2xl decoration-red pt-2 mb-3">Para saber más:</h4>
                     <a href="https://www.helvetia.com/ch/clo/app/calculator/vehicles" target="_blank">
                    <span class="c-link-especial">
                      Carriers Liability
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-3">
        <p class="title-slim-6xl u-strong-red mb-md-6">
          Para optimizar el proceso y alcanzar los objetivos del proyecto hemos trabajado con:
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
            <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              React
            </h4>
            <p>
              Apostamos por React por la estabilidad y la versatilidad que proporciona frente a otros frameworks.
            </p>
          </div>
        </div>
      </div>
      <div class="ol-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
                  {{svgSprite('openshift')}}
          </div>
          <div>
           <h4 class="title-2xl decoration-red pt-2 mb-3">
              OpenShift
           </h4>
             <p>
               Toda la solución está desplegada sobre infraestructura PaaS basada en contenedores y orquestada por RedHat OpenShift.
             </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-6">
        <div class="d-flex">
           <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('springboot')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Spring Boot
            </h4>
            <p>
              Seleccionamos Java y el framework Spring Boot por su robustez, seguridad y alta flexibilidad que ofrece para desarrollar API’s de soporte al front-end React, al tiempo que garantiza una integración sin fricciones con los sistemas corporativos de contratación Helvetia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}

{% endblock %}
