  <section id="que-ofrecemos" class="mb-0 bg-gray-extralight py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué ofrecemos?</h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <div class="d-flex">
                <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('sueldo')}}</div>
                <p class="text-base line-base mb-5">Un sueldo entre <strong>32.000€ y 45.000€</strong> <strong><span class="color-red">+</span>  bonus</strong>, dependiendo de lo que puedas aportar.</p>
              </div>
              <div class="d-flex">
                <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('modalidad')}}</div>
                <div>
                  <p class="text-base line-base mb-2"><strong>Presencial</strong> o <strong>remoto</strong>.</p>
                  <p class="font-secondary color-red text-base line-base mb-5">(nuestras oficinas están en Mutilva).</p>
                </div>
              </div>
              <div class="d-flex">
                <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('horario')}}</div>
                <p class="text-base line-base mb-5"><strong>Horario flexible de entrada y salida.</strong> Tú decides cómo organizar tu horario, siempre con sentido común y consensuado con el resto del equipo.</p>
              </div>
              <div class="d-flex">
                <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('verano')}}</div>
                <div>
                  <p class="text-base line-base mb-2"><strong>Horario de verano.</strong></p>
                  <p class="font-secondary color-red text-base line-base mb-5">(menos horas de trabajo durante julio, agosto y septiembre).</p>
                </div>
              </div>
              <div class="d-flex">
                <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('vacaciones')}}</div>
                <div>
                  <p class="text-base line-base mb-2"><strong>Vacaciones.</strong></p>
                  <p class="text-base line-base mb-5 mb-lg-0">Dispondrás de 22 días laborables.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <div class="d-flex">
                <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('equipo')}}</div>
                <p class="text-base line-base mb-5"><strong>Equipo necesario</strong> para que puedas trabajar cómodamente.</p>
              </div>
              <div class="d-flex">
                <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('formacion')}}</div>
                <p class="text-base line-base mb-5"><strong>Plan de formación guiado</strong> por un/a mentor/a para aprender todo lo necesario.</p>
              </div>
              <div class="d-flex">
                <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('carrera')}}</div>
                <div>
                  <p class="text-base line-base mb-2"><strong>Plan de carrera y seguimiento</strong> del crecimiento personalizado. </p>
                  <p class="font-secondary color-red text-base line-base mb-5">(tiempo para formación, reuniones semanales con tu manager...).</p>
                </div>  
              </div>
              <div class="d-flex">
                <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('ambiente')}}</div>
                <p class="text-base line-base mb-5">Un <strong>ambiente enriquecedor y diverso</strong>, donde desarrollarte como profesional, como persona y con unos/as compañeros/as muy majos/as.</p>
              </div>
              <div class="d-flex">
                <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('ingles')}}</div>
                <div>
                  <p class="text-base line-base mb-2"><strong>Idiomas</strong>.</p>
                  <p class="text-base line-base mb-0">Opción de asistir a clases de <strong>inglés</strong>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="landing-nav-section__wrap d-none d-xl-inline ">
          <div class="landing-nav-section text-xs color-gray-dark font-400">
            <span class="line-decoration">Ésta es nuestra oferta</span>
          </div>
        </div>
      </div>
    </div>
  </section>