{# ----- HOME ----- #}
{% extends "@layouts/page-clean.twig" %}
{% block page %}
<div class="bg-d rellax" data-rellax-speed="-5"></div>
<div class="bg-s rellax" data-rellax-speed="-9"></div>
<!--bloque hero-->
<section class="c-hero p-home__hero" id="top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-center"><span class="bg-red text-uppercase text-sm d-inline color-white letter-base font-400 p-2">II Edición</span> </p>
        <h1 class="title-hero mb-4 text-center">
            Aprende a desarrollar software
        </h1>
        <p class="font-secondary text-3xl color-red mb-4 text-center">(pero de verdad)</p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 text-center">
        <p class="text-2xl">Ser desarrollador no implica saber desarrollar (buen) software. Y viceversa. Los lenguajes de programación pueden cambiar, pero si conoces los principios, construirás y entregarás valor continuamente.</p>
        <div class="c-separator--icon">
          <a class="c-separator--icon__animated" href="#que">
            <svg width="13px" height="42px" viewBox="0 0 13 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-714.000000, -854.000000)" fill="#000000">
                  <g>
                    <path d="M737.811652,873.75 L734.022242,869.966495 L735.240635,868.75 L741.25,874.75 L735.240635,880.75 L734.022242,879.533505 L737.811652,875.75 L699.75,875.75 L699.75,873.75 L737.811652,873.75 Z" transform="translate(720.500000, 874.750000) rotate(-270.000000) translate(-720.500000, -874.750000) "></path>
                  </g>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--presentacion-->
<section class="mb-5 mb-md-7">
  <div class="p-bikoschool__destacado text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title-6xl mb-4 color-white text-left">
            <strong>Curso de Desarrollo de software</strong>
          </h2>
          <p class="font-secondary text-3xl color-red-middle mb-4">(basado en agile y XP)</p>
        </div>
      </div>
    </div>
    <div class="container mb-0">
      <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-8 col-xl-7">
                  <p class="text-2xl text-left">En Biko hemos creado el curso al que nos hubiera gustado asistir. Un curso en el que no te vamos a enseñar a programar, sino a convertirte en un excelente desarrollador. Y de eso va esto: de aprender a aprender, de dejar atrás el “qué” para centrarnos en el “cómo”.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<!--otra historia-->
<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
      <h2 class="title-5xl line-4xl font-light mb-0">Esto no es (solo) un curso.</h2>
      <h3 class="title-6xl mb-4">Esto es otra historia.</h3>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-lg-8 col-xl-6 mb-4 mb-md-5">
            <p>El Curso de Desarrollo de Software especializado en experiencia de usuario y cliente es una formación totalmente práctica, alejada de lo que se aprende en cursos tradicionales o en la universidad.</p>
            <p>No se trata de enseñarte a tirar tu primera línea de código, sino de que aprendas cómo desarrollar software de valor, trabajar con metodologías ágiles y de mejorar tu potencial.</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <p class="title-slim-6xl u-strong-red mb-md-6">
        Al finalizar, obtendrás una <strong>titulación oficial homologada</strong> por el Ministerio. Y gracias al Servicio Navarro de Empleo, el curso es totalmente <strong>gratuito</strong>. Suena bien, ¿eh?</p>
      </div>
    </div>
  </div>
</section>
<!--contenido curso-->
<section class="mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title-5xl mb-4">
          Contenido formativo:
        </h3>
      </div>
      <div class="col-12">
        <ul class="c-acordeon" id="acordeonAnidado">
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingUno">
              <a class="c-acordeon__card__link textl-2xl" type="button" data-toggle="collapse" data-target="#collapseUno" aria-expanded="false" aria-controls="collapseUno">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                Introducción al mundo digital y sus reglas tecnológicas
              </a>
            </div>
            <div id="collapseUno" class="collapse" aria-labelledby="headingUno" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p>En este apartado haremos una introducción a las diferentes soluciones y enfoques del mundo digital con las que satisfacemos hoy en día las necesidades de los usuarios.</p>
                      <div class="row">
                        <div class="col-12 col-md-4">
                          <p class="decoration-red pt-2 font-700 mb-4">La web.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">SPA.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Apps.</p>
                        </div>
                        <div class="col-12 col-md-8">
                          <p class="decoration-red pt-2 font-700 mb-4">La nube.</p>
                          <p class="decoration-red pt-2 font-700 mb-42">Microservicios.</p>
                          <p class="decoration-red pt-2 font-700">APIs.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingTres">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseTres" aria-expanded="false" aria-controls="collapseTres">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                Metodologías de trabajo
              </a>
            </div>
            <div id="collapseTres" class="collapse" aria-labelledby="headingTres" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p>Agile es mucho más que una metodología de trabajo para el desarrollo de proyectos, es una filosofía que supone una forma distinta de trabajar y de organizarse. El objetivo es entregar valor de forma continua, desarrollando de manera iterativa e incremental productos y servicios de calidad y que respondan a las necesidades de unos clientes cuyas prioridades cambian a una velocidad cada vez mayor. Así el trabajo es realizado mediante la colaboración de equipos auto-organizados y multidisciplinares, inmersos en un proceso compartido de toma de decisiones a corto plazo.</p>
                      <div class="row">
                        <div class="col-12 col-md-4">
                          <p class="decoration-red pt-2 font-700 mb-4">Agile.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Filosofía.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Ceremonias.</p>
                        </div>
                        <div class="col-12 col-md-8">
                          <p class="decoration-red pt-2 font-700 mb-4">Desarrollo iterativo.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Mejora continua.</p>
                          <p class="decoration-red pt-2 font-700">Trabajo colaborativo: equipos multidisciplinares.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingCuatro">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseCuatro" aria-expanded="false" aria-controls="collapseCuatro">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                Desarrollo de software y buenas prácticas
              </a>
            </div>
            <div id="collapseCuatro" class="collapse" aria-labelledby="headingCuatro" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p>Uno de los pilares básicos de agile es la inspección y la adaptación al cambio cuando desarrollamos software. No es posible satisfacer esta necesidad sin un software bien diseñado y capaz de ser mantenido y evolucionado lo más económicamente posible. Por ello, es necesario aplicar una serie de prácticas técnicas que nos ayuden a desarrollar un código de calidad, legible y fácil de mantener. Este conocimiento “anti-frágil” se condensa en una serie de principios de cómo desarrollamos software que aporte valor y que son transversales a todas las tecnologías.</p>
                      <div class="row">
                        <div class="col-12 col-md-4">
                          <p class="decoration-red pt-2 font-700 mb-4">Extreme programming.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">TDD.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Testing.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Diseño simple.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Refactoring.</p>
                        </div>
                        <div class="col-12 col-md-8">
                          <p class="decoration-red pt-2 font-700 mb-4">Arquitectura hexagonal.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Pair programming.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Integración continua.</p>
                          <p class="decoration-red pt-2 font-700">Conocimiento compartido.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingDos">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseDos" aria-expanded="false" aria-controls="collapseUno">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                User Experience
              </a>
            </div>
            <div id="collapseDos" class="collapse" aria-labelledby="headingDos" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p>“No hay nada tan inútil como hacer con gran eficiencia algo que no debería haberse hecho en absoluto”. De nada nos servirá saber crear software eficiente si no soluciona las necesidades de nuestros usuarios. El diseño de Experiencia de Usuario (UX) es la principal guía desde hace años -y lo es cada vez más- de un proceso de desarrollo bien enfocado.</p>
                      <div class="row">
                        <div class="col-12 col-md-4">
                          <p class="decoration-red pt-2 font-700 mb-4">Design thinking.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Analítica.</p>
                        </div>
                        <div class="col-12 col-md-8">
                          <p class="decoration-red pt-2 font-700 mb-4">User research.</p>
                          <p class="decoration-red pt-2 font-700">Customer experience.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingCinco">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseCinco" aria-expanded="false" aria-controls="collapseCinco">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                Ética en el desarrollo del software y la prestación de servicios
              </a>
            </div>
            <div id="collapseCinco" class="collapse" aria-labelledby="headingCinco" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p>¿Una reflexión sobre cómo prestamos los servicios a los clientes que necesitan soluciones de software? ¿¿Ética?? Pues sí. Creemos que para avanzar como profesión necesitamos saber, además de cómo hacer las cosas bien y rápido, por qué las hacemos, para qué y tener una visión común del impacto que buscamos tener con nuestro trabajo.</p>
                      <div class="row">
                        <div class="col-12 col-md-4">
                          <p class="decoration-red pt-2 font-700 mb-4">Propiedad intelectual.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Protección de los datos.</p>
                        </div>
                        <div class="col-12 col-md-8">
                          <p class="decoration-red pt-2 font-700 mb-4">Modelos de prestación de servicios: proyectos, equipos, horas.</p>
                          <p class="decoration-red pt-2 font-700">Valor añadido y colaboración con el cliente.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingSeis">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseSeis" aria-expanded="false" aria-controls="collapseSeis">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                Carrera profesional
              </a>
            </div>
            <div id="collapseSeis" class="collapse" aria-labelledby="headingSeis" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p>Comprender las bases del desarrollo de software ágil e interiorizar y poner en práctica los conocimientos que lo sustentan es el primer paso de una carrera profesional en consonancia con el mercado actual. Trataremos de dar visibilidad a los roles y competencias más importantes, los enfoques que siguen las empresas para solucionar los problemas de sus clientes (servicio o producto) y las oportunidades locales e internacionales que podemos encontrarnos actualmente.</p>

                      <div class="row">
                        <div class="col-12 col-md-6">
                          <p class="decoration-red pt-2 font-700 mb-4">Roles y competencias/habilidades.</p>
                          <p class="decoration-red pt-2 font-700 mb-4">Tipos de empresas y trabajos disponibles: producto y/o servicio.</p>
                        </div>
                        <div class="col-12 col-md-6">
                          <p class="decoration-red pt-2 font-700 mb-4">Oportunidades en Navarra.</p>
                          <p class="decoration-red pt-2 font-700">Oportunidades en el resto de España y fuera de España.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--bootcamp-->
<section class="c-imagen-posicionada d-flex flex-column c-bg-pattern__right">
  <div class="c-imagen-posicionada--derecha-arriba mb-0 order-2 order-lg-1">
    <div class="">
      <img data-src="/assets/images/bikoschool/practicas-bootcamp" class=" lazyloaded" alt="Equipo Biko X Aniversario" src="/assets/images/bikoschool/practicas-bootcamp.jpg">
    </div>
  </div>
  <div class="container altura-bloques">
    <div class="row">
      <div class="col-12 col-lg-6 mb-md-4 mb-lg-0 pt-lg-7">
        <h2 class="title-6xl mb-4">
          Prácticas en formato bootcamp
        </h2>
        <p class="font-secondary text-3xl color-red mb-4">(la hora de la verdad)</p>
        <p>Un curso como este no tendría sentido sin poner las cosas en práctica. Por eso, <strong>hemos reservado la mitad de las horas para trabajar en distintos retos de varios proyectos</strong>, distribuidos por parejas o en pequeños grupos. Eso sí, contarás con supervisión y orientación en todo momento.</p>
      </div>
    </div>
  </div>
</section>
<!--datos de interes-->
<section class="bg-blue py-5 py-md-7 mb-5 mb-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-white">
        <h2 class="text-center title-6xl mb-5 mb-md-6">
          Cuándo y dónde
        </h2>
      </div>
    </div>
    <div class="row mb-4 mb-md-5">
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
              <g fill="#ED6F6B" fill-rule="evenodd">
                <path d="M44.001,4.5 L37.5,4.5 L37.5,1.5 C37.5,0.6705 36.8295,0 36,0 C35.1705,0 34.5,0.6705 34.5,1.5 L34.5,4.5 L25.5,4.5 L25.5,1.5 C25.5,0.6705 24.828,0 24,0 C23.172,0 22.5,0.6705 22.5,1.5 L22.5,4.5 L13.5,4.5 L13.5,1.5 C13.5,0.6705 12.828,0 12,0 C11.172,0 10.5,0.6705 10.5,1.5 L10.5,4.5 L4.0005,4.5 C1.791,4.5 0,6.2895 0,8.499 L0,43.9995 C0,46.209 1.791,48 4.0005,48 L44.001,48 C46.2105,48 48,46.209 48,43.9995 L48,8.499 C48,6.2895 46.2105,4.5 44.001,4.5 Z M45,43.9995 C45,44.5515 44.5515,45 44.001,45 L4.0005,45 C3.4485,45 3,44.5515 3,43.9995 L3,8.499 C3,7.9485 3.4485,7.5 4.0005,7.5 L10.5,7.5 L10.5,10.5 C10.5,11.3295 11.172,12 12,12 C12.828,12 13.5,11.3295 13.5,10.5 L13.5,7.5 L22.5,7.5 L22.5,10.5 C22.5,11.3295 23.172,12 24,12 C24.828,12 25.5,11.3295 25.5,10.5 L25.5,7.5 L34.5,7.5 L34.5,10.5 C34.5,11.3295 35.1705,12 36,12 C36.8295,12 37.5,11.3295 37.5,10.5 L37.5,7.5 L44.001,7.5 C44.5515,7.5 45,7.9485 45,8.499 L45,43.9995 Z"></path>
              </g>
            </svg>
          </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Inicio del curso</p>
          <p class="mb-2 font-400 color-white">7 Septiembre</p>
          <p class="font-secondary mb-4 color-red-middle">(Hasta diciembre)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0C20.6875 0 17.5703 0.624994 14.6484 1.875C11.7265 3.12501 9.1797 4.83593 7.00781 7.00781C4.83593 9.1797 3.12501 11.7265 1.875 14.6484C0.624994 17.5703 0 20.6875 0 24C0 27.3125 0.624994 30.4297 1.875 33.3516C3.12501 36.2735 4.83593 38.8203 7.00781 40.9922C9.1797 43.1641 11.7265 44.875 14.6484 46.125C17.5703 47.375 20.6875 48 24 48C27.3125 48 30.4297 47.375 33.3516 46.125C36.2735 44.875 38.8203 43.1641 40.9922 40.9922C43.1641 38.8203 44.875 36.2735 46.125 33.3516C47.375 30.4297 48 27.3125 48 24C48 20.6875 47.375 17.5703 46.125 14.6484C44.875 11.7265 43.1641 9.1797 40.9922 7.00781C38.8203 4.83593 36.2735 3.12501 33.3516 1.875C30.4297 0.624994 27.3125 0 24 0ZM24 45.0469C21.0937 45.0469 18.3672 44.4922 15.8203 43.3828C13.2734 42.2734 11.0547 40.7656 9.16406 38.8594C7.27343 36.9531 5.77344 34.7266 4.66406 32.1797C3.55468 29.6328 3 26.9063 3 24C3 21.0937 3.55468 18.3672 4.66406 15.8203C5.77344 13.2734 7.27343 11.0547 9.16406 9.16406C11.0547 7.27343 13.2734 5.77344 15.8203 4.66406C18.3672 3.55468 21.0937 3 24 3C26.9063 3 29.6328 3.55468 32.1797 4.66406C34.7266 5.77344 36.9453 7.27343 38.8359 9.16406C40.7266 11.0547 42.2266 13.2734 43.3359 15.8203C44.4453 18.3672 45 21.0937 45 24C45 26.9063 44.4453 29.6328 43.3359 32.1797C42.2266 34.7266 40.7266 36.9531 38.8359 38.8594C36.9453 40.7656 34.7266 42.2734 32.1797 43.3828C29.6328 44.4922 26.9063 45.0469 24 45.0469ZM25.5 23.3906L32.5781 30.4688C32.8594 30.75 33 31.1016 33 31.5234C33 31.9453 32.8594 32.2969 32.5781 32.5781C32.2969 32.8906 31.9453 33.0469 31.5234 33.0469C31.1016 33.0469 30.75 32.8906 30.4688 32.5781L23.0156 25.1719C23.0156 25.1406 23.0078 25.1172 22.9922 25.1016L22.9688 25.0781C22.8125 24.9531 22.6953 24.7969 22.6172 24.6094C22.5391 24.4219 22.5 24.2188 22.5 24V9C22.5 8.59375 22.6484 8.24219 22.9453 7.94531C23.2422 7.64844 23.5937 7.5 24 7.5C24.4063 7.5 24.7578 7.64844 25.0547 7.94531C25.3516 8.24219 25.5 8.59375 25.5 9V23.3906Z" fill="#ED6F6B"></path>
            </svg>
          </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Horario</p>
          <p class="mb-2 font-400 color-white">
            Martes tarde: 17:30h.-20:30h.<br>
            Viernes tarde: 17h.-20:30h.<br>
            Sábado: 9:00h.-14:30h.
          </p>
          <p class="font-secondary mb-4 color-red-middle">(12 horas semanales)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M45.1434 2.38596C46.0791 3.25926 46.7808 4.17154 47.2486 5.12281C47.7164 6.07408 47.9659 7.03313 47.9971 8C48.0283 9.02925 47.81 10.0351 47.3421 11.0175C46.8743 12 46.1882 12.9591 45.2838 13.8947C44.8472 14.3626 43.1007 16.1091 40.0443 19.1345C36.988 22.1599 33.69 25.4269 30.1502 28.9357C26.6104 32.4445 23.3592 35.6647 20.3964 38.5965C17.4336 41.5283 15.8119 43.1345 15.5312 43.4152C15.4377 43.5088 15.3363 43.5867 15.2271 43.6491C15.118 43.7115 15.001 43.7583 14.8763 43.7895C14.4397 43.9142 13.5197 44.2027 12.1162 44.655C10.7128 45.1072 9.2704 45.5673 7.789 46.0351C6.3076 46.5029 4.97436 46.9318 3.78924 47.3216C2.60412 47.7115 1.99598 47.9064 1.96479 47.9064C1.90242 47.9376 1.83225 47.961 1.75428 47.9766C1.67631 47.9922 1.59055 48 1.49699 48C1.30986 48 1.12274 47.961 0.935616 47.883C0.748492 47.8051 0.592557 47.6881 0.467808 47.5322C0.249497 47.345 0.109156 47.1111 0.046781 46.8304C-0.0155937 46.5497 -0.0155937 46.269 0.046781 45.9883C0.0779684 45.9571 0.26509 45.3723 0.60815 44.2339C0.951211 43.0955 1.34884 41.7778 1.80106 40.2807C2.25328 38.7836 2.68989 37.3255 3.11092 35.9064C3.53195 34.4873 3.82043 33.4659 3.97637 32.8421C4.03874 32.7173 4.10111 32.6004 4.16349 32.4912C4.22586 32.3821 4.30383 32.2807 4.39739 32.1871L18.8994 17.6842C22.5484 14.0351 25.9243 10.6511 29.0275 7.53216C32.1306 4.41324 33.7913 2.76023 34.0096 2.5731C34.3215 2.26121 34.992 1.75439 36.0212 1.05263C37.0504 0.350874 38.3134 0 39.8104 0C40.7772 0 41.7051 0.202727 42.5939 0.608187C43.4827 1.01365 44.3326 1.60623 45.1434 2.38596ZM33.5418 7.34503C32.076 8.77973 30.2048 10.6355 27.9281 12.9123C25.6514 15.1891 23.3046 17.5438 20.8876 19.9766C18.4706 22.4094 16.155 24.7329 13.9407 26.9474L8.65444 32.2339C9.27819 32.4834 9.9721 32.8421 10.7362 33.3099C11.5003 33.7778 12.2722 34.4016 13.0518 35.1813C13.6756 35.8363 14.198 36.499 14.619 37.1696C15.04 37.8402 15.3753 38.4561 15.6248 39.0175C16.9346 37.7076 18.6889 35.9688 20.8876 33.8012C23.0863 31.6335 25.3864 29.3567 27.7878 26.9708C30.1892 24.5848 32.5204 22.269 34.7815 20.0234C37.0426 17.7778 38.906 15.9376 40.3718 14.5029C40.3406 14.2534 40.1613 13.6686 39.8338 12.7485C39.5064 11.8285 38.8748 10.9006 37.9392 9.96491C37.0036 9.06042 36.1304 8.42105 35.3195 8.04678C34.5086 7.67251 33.9161 7.4386 33.5418 7.34503ZM6.59609 34.7602C6.25303 35.9142 5.77743 37.4425 5.16928 39.345C4.56112 41.2476 4.03874 42.9006 3.60212 44.3041C5.06793 43.8363 6.76761 43.2749 8.70122 42.6199C10.6348 41.9649 12.1162 41.4659 13.1454 41.1228C12.9895 40.655 12.74 40.078 12.3969 39.3918C12.0538 38.7057 11.5549 38.0351 10.8999 37.3801C10.0267 36.5068 9.20022 35.8752 8.42054 35.4854C7.64086 35.0955 7.03271 34.8538 6.59609 34.7602ZM43.0851 11.7427C43.7088 11.1189 44.1766 10.4951 44.4885 9.87135C44.8004 9.24756 44.9563 8.65497 44.9563 8.09357C44.9563 7.53216 44.7926 6.95517 44.4651 6.36257C44.1377 5.76998 43.6621 5.17739 43.0383 4.5848C42.5393 4.08577 42.0169 3.7115 41.4712 3.46199C40.9254 3.21247 40.3718 3.08772 39.8104 3.08772C38.8436 3.08772 38.0094 3.33723 37.3077 3.83626C36.606 4.33529 36.2239 4.63158 36.1615 4.72515L35.9276 4.95906C36.5202 5.20858 37.1751 5.55945 37.8924 6.0117C38.6097 6.46394 39.3426 7.06432 40.0911 7.81287C40.8084 8.53022 41.3854 9.26315 41.822 10.0117C42.2586 10.7602 42.5861 11.4464 42.8044 12.0702C42.8668 12.0078 42.9214 11.9454 42.9681 11.883C43.0149 11.8207 43.0539 11.7739 43.0851 11.7427Z" fill="#ED6F6B"></path>
            </svg>
            </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Inscripciones</p>
          <p class="mb-2 font-400 color-white">Plazo abierto</p>
          <p class="font-secondary mb-4 color-red-middle">(Plazas limitadas a 15)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M39.6556 3.00587H36.6497V13.1037C36.6497 15.546 35.9687 17.7143 34.6067 19.6086C33.2446 21.5029 31.1233 23.1702 28.2427 24.6106C31.2172 26.1135 33.3699 27.8356 34.7006 29.7769C36.0313 31.7182 36.6967 34.0509 36.6967 36.775C36.6967 38.5597 36.6888 40.1722 36.6732 41.6125C36.6575 43.0528 36.6497 44.18 36.6497 44.9941H39.6556C40.0626 44.9941 40.4149 45.1429 40.7123 45.4403C41.0098 45.7378 41.1585 46.09 41.1585 46.4971C41.1585 46.9354 41.0098 47.2955 40.7123 47.5773C40.4149 47.8591 40.0626 48 39.6556 48H9.50294C9.09589 48 8.74364 47.8591 8.44618 47.5773C8.14873 47.2955 8 46.9354 8 46.4971C8 46.09 8.14873 45.7378 8.44618 45.4403C8.74364 45.1429 9.09589 44.9941 9.50294 44.9941H12.6027C12.6027 44.18 12.5949 43.0528 12.5793 41.6125C12.5636 40.1722 12.5558 38.5597 12.5558 36.775C12.5558 34.0509 13.2133 31.7182 14.5284 29.7769C15.8435 27.8356 17.9726 26.1135 20.9159 24.6106C18.0978 23.1702 16.0078 21.5029 14.6458 19.6086C13.2838 17.7143 12.6027 15.546 12.6027 13.1037V3.00587H9.50294C9.09589 3.00587 8.74364 2.85714 8.44618 2.55969C8.14873 2.26223 8 1.90998 8 1.50294C8 1.06458 8.14873 0.704502 8.44618 0.422701C8.74364 0.140899 9.09589 0 9.50294 0H39.6556C40.0626 0 40.4149 0.140899 40.7123 0.422701C41.0098 0.704502 41.1585 1.06458 41.1585 1.50294C41.1585 1.90998 41.0098 2.26223 40.7123 2.55969C40.4149 2.85714 40.0626 3.00587 39.6556 3.00587ZM15.5616 36.775C15.5616 38.591 15.5695 40.2113 15.5851 41.636C15.6008 43.0607 15.6086 44.18 15.6086 44.9941H33.6438C33.6438 44.18 33.6517 43.0528 33.6673 41.6125C33.683 40.1722 33.6908 38.5597 33.6908 36.775C33.6908 34.7084 33.1116 32.8298 31.953 31.1389C30.7945 29.4481 28.3366 27.82 24.5793 26.2544C20.8219 27.82 18.3797 29.4481 17.2524 31.1389C16.1252 32.8298 15.5616 34.7084 15.5616 36.775ZM33.6438 3.00587H15.6086V13.1037C15.6086 14.544 16.1096 16.1409 17.1115 17.8943C18.1135 19.6478 20.6027 21.3542 24.5793 23.0137C28.5871 21.3542 31.0998 19.6478 32.1174 17.8943C33.135 16.1409 33.6438 14.544 33.6438 13.1037V3.00587Z" fill="#ED6F6B"></path>
            </svg>
            </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Duración</p>
          <p class="mb-2 font-400 color-white">160 horas</p>
          <p class="font-secondary mb-4 color-red-middle">(14 semanas aproximadamente)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.3392 0C28.2857 0 30.9211 0.48437 33.2455 1.45313C35.5699 2.42188 37.526 3.74218 39.1138 5.41406C40.7016 7.08595 41.9129 9.03124 42.7477 11.25C43.5825 13.4688 43.9999 15.8125 43.9999 18.2813C43.9999 20.7813 43.4843 23.3359 42.4531 25.9453C41.4218 28.5547 40.1205 31.1172 38.549 33.6328C36.9776 36.1485 35.2752 38.5312 33.4419 40.7813C31.6086 43.0313 29.8898 45.0312 28.2856 46.7813C28.2856 46.8125 28.0401 47.0234 27.549 47.4141C27.058 47.8047 26.4851 48 25.8303 48H25.683C24.9955 48 24.4144 47.8047 23.9397 47.4141C23.465 47.0234 23.2276 46.8125 23.2276 46.7813C21.5252 44.9062 19.6837 42.8594 17.7031 40.6406C15.7224 38.4219 13.8891 36.086 12.2031 33.6328C10.517 31.1797 9.10931 28.6563 7.97984 26.0625C6.85037 23.4687 6.28564 20.875 6.28564 18.2813C6.28564 15.8125 6.79308 13.4688 7.80797 11.25C8.82285 9.03124 10.1978 7.08595 11.933 5.41406C13.6681 3.74218 15.6897 2.42188 17.9977 1.45313C20.3057 0.48437 22.7529 0 25.3392 0ZM25.9285 44.7656C28.4166 42.0469 30.5937 39.4531 32.4598 36.9844C34.3258 34.5156 35.8809 32.1797 37.1249 29.9766C38.369 27.7734 39.302 25.6953 39.924 23.7422C40.5461 21.7891 40.8571 19.9688 40.8571 18.2813C40.8571 16.375 40.5543 14.5078 39.9486 12.6797C39.3429 10.8516 38.4017 9.21876 37.1249 7.78125C35.8481 6.34374 34.2358 5.1875 32.2879 4.3125C30.34 3.4375 28.0238 3 25.3392 3C23.1785 3 21.1324 3.40625 19.2008 4.21875C17.2693 5.03125 15.5833 6.13281 14.1428 7.52344C12.7023 8.91407 11.5565 10.5391 10.7053 12.3984C9.85409 14.2578 9.4285 16.2187 9.4285 18.2813C9.4285 20.5 9.91957 22.75 10.9017 25.0313C11.8839 27.3125 13.1279 29.5547 14.6339 31.7578C16.1398 33.9609 17.7931 36.0859 19.5937 38.1328C21.3943 40.1797 23.0966 42.0937 24.7008 43.875L25.5356 44.7656L25.7321 44.9531C25.7648 44.9219 25.8057 44.8906 25.8548 44.8594C25.9039 44.8281 25.9285 44.7969 25.9285 44.7656ZM25.1919 9.04688C27.811 9.04688 30.0371 9.92968 31.8705 11.6953C33.7038 13.4609 34.6205 15.5781 34.6205 18.0469C34.6205 20.5469 33.7038 22.6719 31.8705 24.4219C30.0371 26.1719 27.811 27.0469 25.1919 27.0469C22.6056 27.0469 20.3876 26.1719 18.5379 24.4219C16.6882 22.6719 15.7633 20.5469 15.7633 18.0469C15.7633 15.5781 16.6882 13.4609 18.5379 11.6953C20.3876 9.92968 22.6056 9.04688 25.1919 9.04688ZM25.1919 24.0469C26.927 24.0469 28.4002 23.4531 29.6115 22.2656C30.8229 21.0781 31.4285 19.6563 31.4285 18C31.4285 16.3437 30.8147 14.9297 29.587 13.7578C28.3593 12.5859 26.8779 12 25.1428 12C23.4077 12 21.9263 12.5859 20.6986 13.7578C19.4709 14.9297 18.8571 16.3437 18.8571 18C18.8571 19.6563 19.4791 21.0781 20.7231 22.2656C21.9672 23.4531 23.4568 24.0469 25.1919 24.0469Z" fill="#ED6F6B"></path>
            </svg>
            </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Dónde</p>
          <p class="mb-2 font-400 color-white">Biko</p>
          <p class="font-secondary mb-4 color-red-middle c-link-especial">(En las <a class="color-red-middle" href="https://goo.gl/maps/bdyrzeYza44VB5177" alt="Dirección en google maps a Biko 2">oficinas de Biko</a>)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5">
        <div class="text-center">
          <div class="mb-4">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M48 19.5V3.65625C48 2.65625 47.6406 1.79688 46.9219 1.07813C46.2031 0.359371 45.3438 0 44.3438 0H28.1719C27.6406 0 27.0391 0.0390621 26.3672 0.117188C25.6953 0.195313 25.1094 0.484373 24.6094 0.984375L0.890625 24.7031C0.609374 25.0156 0.390626 25.3516 0.234375 25.7109C0.0781242 26.0703 0 26.4531 0 26.8594C0 27.2656 0.0781242 27.6484 0.234375 28.0078C0.390626 28.3672 0.609374 28.6875 0.890625 28.9688L19.0313 47.1094C19.3125 47.3906 19.6328 47.6094 19.9922 47.7656C20.3516 47.9219 20.7344 48 21.1406 48C21.5469 48 21.9297 47.9219 22.2891 47.7656C22.6484 47.6094 22.9844 47.3906 23.2969 47.1094L47.0156 23.3906C47.5156 22.8906 47.8047 22.2969 47.8828 21.6094C47.9609 20.9219 48 20.2188 48 19.5ZM44.8594 21.2813L21.1406 45L3 26.8594L26.7188 3.14063C26.8125 3.07812 27.0312 3.03906 27.375 3.02344L28.0166 3.00146L44.3438 3C44.5313 3 44.6875 3.0625 44.8125 3.1875C44.9375 3.3125 45 3.46875 45 3.65625V19.5469L44.9766 20.5313C44.9609 20.9063 44.9219 21.1563 44.8594 21.2813ZM36 6C34.3437 6 32.9297 6.58593 31.7578 7.75781C30.5859 8.92969 30 10.3437 30 12C30 13.6563 30.5859 15.0703 31.7578 16.2422C32.9297 17.4141 34.3437 18 36 18C37.6563 18 39.0703 17.4141 40.2422 16.2422C41.4141 15.0703 42 13.6563 42 12C42 10.3437 41.4141 8.92969 40.2422 7.75781C39.0703 6.58593 37.6563 6 36 6ZM36 15C35.1875 15 34.4844 14.7109 33.8906 14.1328C33.2969 13.5547 33 12.8438 33 12C33 11.1562 33.2969 10.4453 33.8906 9.86719C34.4844 9.28906 35.1875 9 36 9C36.8438 9 37.5547 9.28906 38.1328 9.86719C38.7109 10.4453 39 11.1562 39 12C39 12.8438 38.7109 13.5547 38.1328 14.1328C37.5547 14.7109 36.8438 15 36 15Z" fill="#ED6F6B"></path>
            </svg>
          </div>
          <p class="mb-2 text-uppercase text-sm line-sm letter-base font-400 color-red-middle">Coste</p>
          <p class="mb-2 font-400 color-white">Gratuito</p>
          <p class="font-secondary mb-4 color-red-middle">(Gracias al Servicio Navarro de Empleo)</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a class="c-button c-button--outline--white" href="#formulario">Me interesa</a>
      </div>
    </div>
  </div>
</section>
<!--para mi-->
<section class="c-imagen-posicionada d-flex flex-column c-bg-pattern__right mb-0 mb-lg-7">
  <div class="c-imagen-posicionada--derecha-arriba order-2 order-lg-1">
    <div class="">
      <img data-src="/assets/images/bikoschool/para-quien-es" class=" lazyloaded" alt="foto es para mi" src="/assets/images/bikoschool/para-quien-es.jpg">
    </div>
  </div>
  <div class="container altura-bloques">
    <div class="row">
      <div class="col-12 col-lg-6 mb-md-4 mb-lg-0 pt-md-5 pt-lg-7">
      <h2 class="title-6xl mb-0">¿Es para mí?</h2>
      <h3 class="title-5xl font-light line-4xl mb-5">Depende.</h3>
        <p class="decoration-red pt-2 mb-4 mb-md-5"><strong>Básicamente</strong>, porque el principal requisito es que tengas <strong>ganas de aprender.</strong></p>
        <p class="decoration-red pt-2 mb-4 mb-md-5"><strong>Nos gustaría</strong> contar con personas que estén interesadas en el desarrollo, pero que quieran ir un paso más allá construyendo software de calidad.</p>
        <p class="decoration-red pt-2 mb-5 mb-lg-0"><strong>En este curso</strong> tienen cabida personas que llevan años trabajando en el sector, pero también puedes apuntarte si acabas de concluir tus estudios o quieres reorientar tu carrera profesional.</p>
      </div>
    </div>
  </div>
</section>
{#% include "@base/curso-desarrollo-software/profesores.twig" %#}

<!--form-->
<section class="mb-5 mb-md-7 py-5 py-md-7 bg-gray-light" id="formulario">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-12">
            <h2 class="title-slim-6xl u-strong-red mb-5">
              Si has llegado hasta aquí, es que esto <strong>te interesa</strong>
            </h2>
          </div>
          <div class="col-12 col-md-10 col-lg-12">
            <p>Y tienes que darte prisa, porque el curso es gratuito y las plazas vuelan.</p>
            <p>Inscríbete completando el siguiente formulario. Has de saber que inscribirse no significa obtener una plaza automáticamente. Primero tenemos que hacer el proceso de selección (recuerda que son <strong>solo 15 plazas</strong>).</p>
            <p>¡Anímate y nos ponemos en marcha!.</p>
          </div>
        </div>
      </div>
      {% include "@base/curso-desarrollo-software/form-inscripcion.twig" %}
    </div>
  </div>
</section>
<!--bloque video edicion pasada-->
<section class="mb-4 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-6">
        <h2 class="title-6xl mb-4">Así fue la I edición</h2>
        <p class="text-base text-md-2xl line-xl mb-4 mb-md-5">
        Y para que vayas abriendo boca, aquí te mostramos un resumen de la anterior edición. Esperamos que lo disfrutes. ;)</p>
      </div>
      <div class="col-12 mb-5">
        <div class="video-container">
          <iframe class="video" src="https://www.youtube.com/embed/HZMHTM4Q5Gc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="c-separator--line c-separator--line__horizontal mt-0 mb-md-0"><hr /></div>
<!--bloque testimonial-->
<section class="c-imagen-posicionada d-flex flex-column">
  <div class="c-imagen-posicionada--testimonial mb-0 order-2 order-lg-1">
    <div class="">
      <img data-src="/assets/images/bikoschool/testimonial-2020-1" class=" lazyloaded" alt="Miguel Echávarri" src="/assets/images/bikoschool/testimonial-2020-1.jpg">
    </div>
  </div>
  <div class="container altura-bloques">
    <div class="row">
      <div class="col-12 col-lg-7 mb-md-4 mb-lg-0 pt-md-7">
        <p class="title-slim-6xl u-strong-red mb-5">
          “Frase de Miguel los de <strong>Biko son los mejores</strong> sem aecenas vestibulum mollis diam urabitur at lacus ac velit ornar.”
        </p>
        <div class="mb-5">
          <p class="decoration-red text-base pt-2 font-bold mb-1">Miguel Echávarri</p>
          <p class="text-uppercase text-sm line-sm color-bluesoft font-400 letter-base mb-1">Desarrollador en Biko</p>
          <p class="font-secondary mb-4 color-red-middle">(Miguel fue alumno de la I Edición del curso).</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--bloque dudas final-->
<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="c-texto--center">
          <h2 class="title-6xl mb-4">
            ¿Tienes alguna duda?
          </h2>
          <p>Puedes escribirnos un correo electrónico comentándonos tus dudas y te las resolveremos lo antes posible.</p>
          <div class="d-flex justify-content-center">
            <a class="c-button" href="mailto:comunicacion@biko2.com">Envíanos tu consulta a <br />
            <span class="c-button--minus">comunicacion@biko2.com</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}
{% include "@includes/site-footer.twig" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>
<script>var rellax = new Rellax('.rellax');</script>
{% endblock %}
