{# ----- HOME ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}


<section class="p-bikoschool-header">
  <div class="container p-bikoschool-header__container">
      <h1 class="mb-4">Aprende a <strong>desarrollar software</strong></h1>
      <h2 class="c-title--sub">(de verdad)</h2>
  </div>
  <div class="p-bikoschool-header__icon c-icon-square">
    {{svgSprite('tuercas')}}
  </div>
</section>
<section class="c-bg-pattern__right mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2 class="c-title-doble-negrita mb-4">
          <strong>Curso de Desarrollo de software</strong>
          <span> especializado en experiencia de usuario y cliente</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-7">
        <p class="c-title--pre">
          Ser desarrollador no implica saber desarrollar (buen) software. Y viceversa. Los lenguajes de programación pueden cambiar, pero si conoces los principios  construirás y entregarás valor continuamente.
        </p>
        <p>
          Por eso, en Biko hemos creado el curso al que nos hubiera gustado asistir. Un curso en el que no te vamos a enseñar a programar, sino a convertirte en un excelente desarrollador.Y de eso va esto: de aprender a aprender, de dejar atrás el “qué” para centrarnos en el “cómo”.
        </p>
        <span class="d-block mb-4 mb-md-5">
          <strong>¿Quieres  saber más?</strong>
        </span>
        <div class="c-separator--icon--izquierda">
          <a class="c-separator--icon__animated">
            <svg width="13px" height="42px" viewBox="0 0 13 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-714.000000, -854.000000)" fill="#000000"><g><path d="M737.811652,873.75 L734.022242,869.966495 L735.240635,868.75 L741.25,874.75 L735.240635,880.75 L734.022242,879.533505 L737.811652,875.75 L699.75,875.75 L699.75,873.75 L737.811652,873.75 Z" transform="translate(720.500000, 874.750000) rotate(-270.000000) translate(-720.500000, -874.750000) "></path></g></g></g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-icono-imagen d-flex  flex-column mb-5 mb-lg-7">
  <div class="c-icono-imagen__contenedor c-icono-imagen__contenedor--derecha-abajo order-2 order-lg-1">
    <div>
      <img data-src="/assets/images/bikoschool/BS-otra-historia" class=" lazyloaded" alt="Equipo Biko X Aniversario" src="/assets/images/bikoschool/BS-otra-historia.jpg">
    </div>
    <div class="c-icon-square c-icono-imagen__pictograma c-icono-imagen__pictograma--izquierda-abajo">
      {{svgSprite('cohete')}}
    </div>
  </div>
  <div class="container altura-bloques  mb-lg-5  mb-xl-7 order-1 order-lg-2">
    <div class="row  mb-5">
      <div class="col-12 col-lg-7">
        <h2 class="c-title-doble-negrita mb-4">
          <span>No es (solo) un curso. </span><strong>Esto es otra historia.</strong>
        </h2>
      </div>
      <div class="col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-1">
        <p>El Curso de Desarrollo de Software especializado en servicios digitales  es una formación totalmente práctica, alejada de lo que se aprende en cursos tradicionales o en la universidad.</p>
        <p>No se trata de enseñarte a tirar tu primera línea de código, sino de que aprendas cómo desarrollar software de valor, trabajar con metodologías ágiles y de mejorar tu potencial.</p>
        <p>Al finalizar, obtendrás una titulación oficial homologada por el Ministerio. Y gracias al Servicio Navarro de Empleo, el curso es totalmente gratuito.</p>
        <p class="mb-0"><strong>Suena bien, ¿eh?</strong></p>
      </div>
    </div>
  </div>
  <div class="container order-3">
    <div class="row">
      <div class="col-md-10 col-lg-9 offset-md-1">
        <h3 class="mb-4">
          Contenido formativo:
        </h3>
      </div>
      <div class="col-md-10 col-lg-9 offset-md-1 ">
        <ul class="c-acordeon" id="acordeonAnidado">
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingUno">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseUno" aria-expanded="false" aria-controls="collapseUno">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                <strong>Introducción al mundo digital y sus reglas tecnológicas.</strong>
              </a>
            </div>
            <div id="collapseUno" class="collapse" aria-labelledby="headingUno" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <p>En este apartado haremos una introducción a las diferentes soluciones y enfoques del mundo digital con las que satisfacemos hoy en día las necesidades de los usuarios.</p>
                <ul class="c-list-anidadas c-list-anidadas__columnas">
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>La web.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>SPA.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Apps.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>La nube.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Microservicios.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>APIs.</strong>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingDos">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseDos" aria-expanded="false" aria-controls="collapseUno">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                <strong>User Experience.</strong>
              </a>
            </div>
            <div id="collapseDos" class="collapse" aria-labelledby="headingDos" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <p>“No hay nada tan inútil como hacer con gran eficiencia algo que no debería haberse hecho en absoluto”. De nada nos servirá saber crear software eficiente si no soluciona las necesidades de nuestros usuarios. El diseño de Experiencia de Usuario (UX) es la principal guía desde hace años, y lo es cada vez más, de un proceso de desarrollo bien enfocado.</p>
                <ul class="c-list-anidadas c-list-anidadas__columnas">
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Design thinking</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Analítica</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>User research</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Customer experience</strong>
                  </li>                 
                </ul>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingTres">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseTres" aria-expanded="false" aria-controls="collapseTres">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                <strong>Metodologías de trabajo</strong>
              </a>
            </div>
            <div id="collapseTres" class="collapse" aria-labelledby="headingTres" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <p>Agile es mucho más que una metodología de trabajo para el desarrollo de proyectos, es una filosofía que supone una forma distinta de trabajar y de organizarse. El objetivo es entregar valor de forma continua desarrollando de manera iterativa e incremental productos y servicios de calidad que respondan a las necesidades de unos clientes cuyas prioridades cambian a una velocidad cada vez mayor. Así el trabajo es realizado mediante la colaboración de equipos auto-organizados y multidisciplinarios, inmersos en un proceso compartido de toma de decisiones a corto plazo.</p>
                <ul class="c-list-anidadas c-list-anidadas__columnas">
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Agile.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Filosofía.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Ceremonias.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Desarrollo iterativo.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Mejora continua.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Trabajo colaborativo: equipos multidisciplinares.</strong>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingCuatro">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseCuatro" aria-expanded="false" aria-controls="collapseCuatro">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                <strong>Desarrollo de software y buenas prácticas.</strong>
              </a>
            </div>
            <div id="collapseCuatro" class="collapse" aria-labelledby="headingCuatro" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <p>Uno de los pilares básicos de agile es la inspección y la adaptación al cambio cuando desarrollamos software. No es posible satisfacer esta necesidad sin un software bien diseñado y capaz de ser mantenido y evolucionado lo más económicamente posible. Por ello, es necesario aplicar una serie de prácticas técnicas que nos ayuden a desarrollar un código de calidad, legible y fácil de mantener. Este conocimiento “anti-frágil” se condensa en una serie de principios de cómo desarrollamos software que aporte valor y son transversales a todas las tecnologías.</p>
                <ul class="c-list-anidadas c-list-anidadas__columnas">
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Testing.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Integración continua.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Frontend.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Backend.</strong>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingCinco">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseCinco" aria-expanded="false" aria-controls="collapseCinco">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                <strong>Ética en el desarrollo del software y la prestación de servicios.</strong>
              </a>
            </div>
            <div id="collapseCinco" class="collapse" aria-labelledby="headingCinco" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <p>¿Una reflexión sobre cómo prestamos los servicios a los clientes que necesitan soluciones de software? ¿¿Ética?? Pues sí. Creemos que para avanzar como profesión necesitamos, además de saber hacer las cosas bien y rápido, saber por qué las hacemos, para qué y tener una visión común del impacto que buscamos tener con nuestro trabajo.</p>
                <ul class="c-list-anidadas c-list-anidadas__columnas">
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Propiedad intelectual.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Protección de los datos.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Modelos de prestación de servicios: proyectos, equipos, horas.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Valor añadido y colaboración con el cliente.</strong>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingSeis">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseSeis" aria-expanded="false" aria-controls="collapseSeis">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                <strong>Carrera profesional.</strong>
              </a>
            </div>
            <div id="collapseSeis" class="collapse" aria-labelledby="headingSeis" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <p>Comprender las bases del desarrollo de software ágil e interiorizar y poner en práctica los conocimientos que lo sustentan es el primer paso de una carrera profesional en consonancia con el mercado actual. Trataremos de dar visibilidad a los roles y competencias más importantes, los enfoques que siguen las empresas para solucionar los problemas de sus clientes (servicio o producto) y las oportunidades locales e internacionales que podemos encontrarnos actualmente.</p>
                <ul class="c-list-anidadas c-list-anidadas__columnas">
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Roles y competencias/habilidades.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Tipos de empresas y trabajos disponibles: producto y/o servicio.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Oportunidades en Navarra.</strong>
                  </li>
                  <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
                    <strong>Oportunidades en el resto de España y fuera de España.</strong>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="c-imagen-posicionada  d-flex  flex-column c-bg-pattern__right  mb-5 mb-lg-7">
  <div class="c-imagen-posicionada--derecha-arriba mb-6 mb-lg-0 order-2 order-lg-1">
    <div class="">
      <img data-src="/assets/images/bikoschool/practicas-bootcamp" class=" lazyloaded" alt="Equipo Biko X Aniversario" src="/assets/images/bikoschool/practicas-bootcamp.jpg">
    </div>
  </div>
  <div class="container altura-bloques mb-lg-5 mb-xl-7 order-lg-2">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7">
        <h2 class="c-title-doble-negrita mb-md-2">
          <span>Prácticas en </span><strong>formato bootcamp</strong>
        </h2>
        <p class="c-title--sub mb-4">
          (la hora de la verdad)
        </p>
      </div>
      <div class="col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-1 mb-4 mb-lg-0">
        <p>Un curso como este no tendría sentido sin poner las cosas en práctica. Por eso, <strong>hemos reservado la mitad de las horas para trabajar en distintos retos de varios proyectos</strong>, distribuidos por parejas o en pequeños grupos. Eso sí, contarás con supervisión y orientación en todo momento.</p>
      </div>
    </div>
  </div>
  <div class="container order-3">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <h3 class="mb-6">
          Cuándo y dónde
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <ul class="d-flex justify-content-md-center flex-wrap c-icon-texto">
            <li class="c-icon-texto__item">
              <div class="c-icon--huge mr-4">
                {{svgSprite('calendar')}}
              </div>
              <div class="d-flex flex-column">
                <span class="c-icon-texto__antetitulo">Inicio del curso</span>
                <span class="c-icon-texto__titulo">15 de septiembre de 2020</span>
                <span class="c-icon-texto__texto">Durante 14 semanas aproximadamente</span>
              </div>
            </li>
            <li class="c-icon-texto__item">
              <div class="c-icon--huge mr-4">
                {{svgSprite('tiempo')}}
              </div>
              <div class="d-flex flex-column">
                <span class="c-icon-texto__antetitulo">Duración</span>
                <span class="c-icon-texto__titulo">160 horas</span>
                <span class="c-icon-texto__texto">Se combina teoría  y práctica</span>
              </div>
            </li>
            <li class="c-icon-texto__item">
              <div class="c-icon--huge mr-4">
                {{svgSprite('reloj')}}
              </div>
              <div class="d-flex flex-column">
                <span class="c-icon-texto__antetitulo">Horario</span>
                <span class="c-icon-texto__titulo">Pendiente de definir</span>
                <span class="c-icon-texto__texto">12 horas semanales</span>
              </div>
            </li>
            <li class="c-icon-texto__item">
              <div class="c-icon--huge mr-4">
                {{svgSprite('location')}}
              </div>
              <div class="d-flex flex-column">
                <span class="c-icon-texto__antetitulo">Dónde</span>
                <span class="c-icon-texto__titulo">La Fábrica de Gomas / Biko</span>
                <span class="c-icon-texto__texto">La formación será en ambos sitios</span>
              </div>
            </li>
            <li class="c-icon-texto__item">
              <div class="c-icon--huge mr-4">
                {{svgSprite('pencil')}}
              </div>
              <div class="d-flex flex-column">
                <span class="c-icon-texto__antetitulo">Inscripciones</span>
                <span class="c-icon-texto__titulo">Plazo abierto</span>
                <span class="c-icon-texto__texto">Las plazas son limitadas (12 alumnos/as)</span>
              </div>
            </li>
            <li class="c-icon-texto__item">
              <div class="c-icon--huge mr-4">
                {{svgSprite('Precio')}}
              </div>
              <div class="d-flex flex-column">
                <span class="c-icon-texto__antetitulo">Coste</span>
                <span class="c-icon-texto__titulo">Gratuito </span>
                <span class="c-icon-texto__texto">Gracias al Servicio Navarro de Empleo</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="d-flex justify-content-center">
          <a class="c-button" href="#" target="_blank">Me interesa</a>
        </div>  
      </div>
    </div>
  </div>
</section>


<section class="c-imagen-posicionada  d-flex  flex-column c-bg-pattern__right  mb-5 mb-lg-7">
  <div class="c-imagen-posicionada--derecha-arriba order-2 order-lg-1">
    <div class="">
      <img data-src="/assets/images/bikoschool/para-quien-es" class=" lazyloaded" alt="foto es para mi" src="/assets/images/bikoschool/para-quien-es.jpg">
    </div>
  </div>
  <div class="container altura-bloques order-lg-2">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7">
        <h2 class="c-title-doble-negrita mb-md-4">
          <strong>¿Es para mí?</strong><span> Depende.</span>
        </h2>
      </div>
      <div class="col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-1 mb-4 mb-lg-0">
        <ul class="c-list-anidadas">
          <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel mb-3">
            <strong>Básicamente</strong>, porque el principal requisito es que tengas <strong>ganas de aprender.</strong>
          </li>
          <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel mb-3">
            <strong>Nos gustaría</strong> contar con personas que estén interesadas en el desarrollo, pero que quieran ir un paso más allá construyendo software de calidad.
          </li>
          <li class="c-list-anidadas__item c-list-anidadas__item--primer-nivel">
            <strong>En este curso</strong> tienen cabida personas que llevan años trabajando en el sector, pero también puedes apuntarte si acabas de concluir tus estudios o quieres reorientar tu carrera profesional.
          </li>
        </ul>  
      </div>
    </div>
  </div>
</section>



<div class="c-separator--line"><hr></div>

<section class="mb-5 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <h2 class="c-title-huge mb-5">
          Si has llegado hasta aquí, es que <strong>esto te interesa</strong>
        </h2>
        <div class="col-12 col-md-10 offset-md-1 col-lg-11 offset-lg-1">
          <p>Y tienes que darte prisa, porque esta primera edición es gratuita y las plazas vuelan.</p>
          <p>Inscríbete completando el siguiente formulario. Has de saber que inscribirse no significa obtener una plaza automáticamente. Primero tenemos que hacer el proceso de selección (recuerda que son solo 12 plazas).</p>
          <p>Anímate y nos ponemos en marcha.</p>
          <p><strong>¡Suerte!</strong></p>
        </div>
      </div>
      {% include "@base/biko-school/form-inscripcion.twig" %}
    </div>
  </div>
</section>

<section class="py-4 pb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10">
        <h2 class="h-huge">¿Tienes alguna <strong>duda</strong>? </h2>
        <p>Puedes escribirnos a <a href="mailto:comunicacion@biko2.com" class="c-link">comunicacion@biko2.com</a> y te las resolvemos cuanto antes.</p>
      </div>
    </div>
  </div>
</section>

{% include "@includes/contact.twig" %}
{% endblock %}
