{# ----- HOME ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}


<section class="c-icono-imagen d-flex  flex-column mb-5 mb-lg-7">
  <div class="c-icono-imagen__contenedor c-icono-imagen__contenedor--derecha-abajo order-2 order-lg-1">
    <div>
      <img data-src="/assets/images/bikoschool/BS-otra-historia" class=" lazyloaded" alt="Equipo Biko X Aniversario" src="/assets/images/bikoschool/BS-otra-historia.jpg">
    </div>
    <div class="c-icon-square c-icono-imagen__pictograma c-icono-imagen__pictograma--izquierda-abajo">
      {{svgSprite('cohete')}}
    </div>
  </div>
  <div class="container  mb-lg-7 order-1 order-lg-2">
    <div class="row  mb-5">
      <div class="col-12 col-lg-7">
        <h2 class="c-title-doble-negrita mb-4">
          <span>No es (solo) un curso. </span><strong>Esto es otra historia.</strong>
        </h2>
      </div>
      <div class="col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-1">
        <p>El Curso de Desarrollo de Software especializado en servicios digitales  es una formación totalmente práctica, alejada de lo que se aprende en cursos tradicionales o en la universidad.</p>
        <p>No se trata de enseñarte a tirar tu primera línea de código, sino de que aprendas cómo desarrollar software de valor, trabajar con metodologías ágiles y de mejorar tu potencial.</p>
        <p>Al finalizar, obtendrás una titulación oficial homologada por el Ministerio.</p>
        <p class="mb-0"><strong>Suena bien, ¿eh?</strong></p>
      </div>
    </div>  
  </div>
  <div class="container order-3">
    <div class="row">
      <div class="col-md-9 offset-md-1">
        <h3 class="mb-4">
          Programa formativo
        </h3>
        <p>Habitant cursus est aenean ornare vestibulum quam vitae, aliquet cras urna magna rhoncus senectus mi diam risus sodales blandit dapibus platea ultrices. Ut enim ad minima veniam.</p>
      </div>
      <div class="col-md-9 offset-md-1">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="heading-1">
              <h5 class="mb-0">
                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                  Item 1
                </a>
              </h5>
            </div>
            <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
              <div class="card-body">

                <div id="accordion-1">
                  <div class="card">
                    <div class="card-header" id="heading-1-1">
                      <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                          Item 1 > 1
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-1">
                      <div class="card-body">

                          <div id="accordion-1-1">
                            <div class="card">
                              <div class="card-header" id="heading-1-1-1">
                                <h5 class="mb-0">
                                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-1" aria-expanded="false" aria-controls="collapse-1-1-1">
                                    Item 1 > 1 > 1
                                  </a>
                                </h5>
                              </div>
                              <div id="collapse-1-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-1">
                                <div class="card-body">
                                  Text 1 > 1 > 1
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="heading-1-1-2">
                                <h5 class="mb-0">
                                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-2" aria-expanded="false" aria-controls="collapse-1-1-2">
                                    Item 1 > 1 > 2
                                  </a>
                                </h5>
                              </div>
                              <div id="collapse-1-1-2" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-2">
                                <div class="card-body">
                                  Text 1 > 1 > 2
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="heading-1-1-3">
                                <h5 class="mb-0">
                                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-3" aria-expanded="false" aria-controls="collapse-1-1-3">
                                    Item 1 > 1 > 3
                                  </a>
                                </h5>
                              </div>
                              <div id="collapse-1-1-3" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-3">
                                <div class="card-body">
                                  Text 1 > 1 > 3
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading-1-2">
                      <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                          Item 1 > 2
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-1-2" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-2">
                      <div class="card-body">
                        Text 1 > 2
                      </div>
                    </div>
                  </div>
                </div>      
              
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-2">
              <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                  Item 2
                </a>
              </h5>
            </div>
            <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
              <div class="card-body">
                Text 2
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-3">
              <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                  Item 3
                </a>
              </h5>
            </div>
            <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
              <div class="card-body">
                Text 3
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </div>
</section>

<section class="c-bg-pattern__right mb-lg-7">
  <div class="u-relative">
    <div class="c-grid-image--right">
      <img data-src="/assets/images/bikoschool/practicas-bootcamp" class=" lazyloaded" alt="Equipo Biko X Aniversario" src="/assets/images/bikoschool/practicas-bootcamp.jpg">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7">
        <h2 class="c-title-doble-negrita mb-4 mb-md-5">
          <span>Prácticas en </span><strong>formato bootcamp</strong>
        </h2>
        <p class="c-title--sub">
          (la hora de la verdad)
        </p>
      </div>
      <div class="col-12 col-md-7 offset-md-1 col-lg-5 offset-lg-1">
        <p>Un curso como este no tendría sentido sin poner las cosas en práctica. Por eso, <strong>hemos reservado la mitad de las horas para trabajar en distintos retos de varios proyectos</strong>, distribuidos por parejas o en pequeños grupos. Eso sí, contarás con supervisión y orientación en todo momento.</p>
      </div>
    </div>
  </div>  
</section>

<section class="mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="mb-6">
          <strong>Cuándo y Dónde</strong>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="c-icon-list__container--center">
        <ul class="c-icon-list d-flex flex-wrap">
          <li class="d-flex">
            <div class="c-icon--huge mr-4">
              {{svgSprite('calendar')}}
            </div>
            <div class="flex-column">
              <p class="c-texto--small__uppercase">Inicio del curso</p>
              <p class="c-icon-list__text">20 de abril de 2020</p>
              <p class="c-icon-list__text--small">Durante 10 semanas (aproximadamente)</p>
            </div>
          </li>
          <li class="d-flex">
            <div class="c-icon--huge mr-4">
              {{svgSprite('tiempo')}}
            </div>
            <div class="flex-column">
              <p class="c-texto--small__uppercase">duración</p>
              <p class="c-icon-list__text">160 horas </p>
              <p class="c-icon-list__text--small">Se combinará teoría y práctica.</p>
            </div>
          </li>
          <li class="d-flex">
            <div class="c-icon--huge mr-4">
              {{svgSprite('reloj')}}
            </div>
            <div class="flex-column">
              <p class="c-texto--small__uppercase">Horario</p>
              <p  class="c-icon-list__text">17:00h a 21:00h</p>
              <p class="c-icon-list__text--small">De lunes a jueves</p>
            </div>
          </li>
          <li class="d-flex">
            <div class="c-icon--huge mr-4">
              {{svgSprite('location')}}
            </div>
            <div class="flex-column">
              <p class="c-texto--small__uppercase">dónde</p>
              <p class="c-icon-list__text">En tal sitio</p>
              <p class="c-icon-list__text--small">(Plaza Cein, 5 31110 Noáin - Navarra)</p>
            </div>
          </li>
          <li class="d-flex">
            <div class="c-icon--huge mr-4">
              {{svgSprite('pencil')}}
            </div>
            <div class="flex-column">
              <p class="c-texto--small__uppercase">dónde</p>
              <p class="c-icon-list__text">En tal sitio</p>
              <p class="c-icon-list__text--small">(Plaza Cein, 5 31110 Noáin - Navarra)</p>
            </div>
          </li>
          <li class="d-flex">
            <div class="c-icon--huge mr-4">
              {{svgSprite('pencil')}}
            </div>
            <div class="flex-column">
              <p class="c-texto--small__uppercase">dónde</p>
              <p class="c-icon-list__text">En tal sitio</p>
              <p class="c-icon-list__text--small">(Plaza Cein, 5 31110 Noáin - Navarra)</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="mb-lg-7 c-contenedor-secciones">
  <div class="u-relative">
    <div class="c-grid-image--right">
      <img data-src="/assets/images/bikoschool/para-quien-es" class=" lazyloaded" alt="Equipo Biko X Aniversario" src="/assets/images/bikoschool/para-quien-es.jpg">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-6">
        <h2 class="c-title-midhuge mb-5">
          <strong>¿Es para mí?</strong> Depende
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-7 offset-md-1 col-lg-5 offset-lg-1">
        <ul class="c-line-list">
          <li>
            <p>
              Básicamente, porque el principal requisito es que tengas <strong>ganas de aprender</strong>.
            </p>
          </li>
          <li>
            <p>
              Nos gustaría contar con personas que estén interesadas en el desarrollo, pero que <strong>quieran ir un paso más allá construyendo software de calidad</strong>.
            </p>
          </li>
          <li>
            <p>
              En este curso tienen cabida personas que llevan años trabajando en el sector, pero <strong>también puedes apuntarte si acabas de concluir tus estudios o quieres reorientar tu carrera profesional</strong>.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>  
</section>

<section class="mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="c-title-midhuge">
          Conoce a <br><strong>los profesores </strong>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <p>
          Aprender no es fácil. Enseñar, tampoco. Por eso hemos elegido a personas que trabajan en grandes proyectos y tienen auténtica vocación por enseñar. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="d-flex mx-8">
          <li class="u-list-none mr-md-4">
            <img class="mb-4" src="/assets/images/bikoschool/profesores-ruben.jpg" alt="" />
            <h3>
              Ruben
            </h3>
            <p>
              Etiam iaculis nunc ac metus. Phasellus accumsan cursus velit.
            </p>
            <ul class="c-social-list">
              <li>
                <a href="http://twitter.com/biko2" target="_blank" title="Ir al Twitter de Biko">
                  <svg width="24px" height="19px" version="1.1" viewBox="0 0 24 19" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g transform="translate(0 -3)" fill="#000" fill-rule="nonzero"><path d="m24 5.2526c-0.9 0.39175-1.8 0.68557-2.8 0.78351 1-0.58763 1.8-1.567 2.2-2.6443-1 0.58763-2 0.97938-3.1 1.1753-0.9-0.97938-2.2-1.567-3.6-1.567-2.7 0-4.9 2.1546-4.9 4.799 0 0.39175 0 0.78351 0.1 1.0773-4.2-0.19588-7.8-2.1546-10.2-5.0928-0.5 0.78351-0.7 1.567-0.7 2.4485 0 1.6649 0.9 3.134 2.2 4.0155-0.8 0-1.6-0.19588-2.2-0.58763v0.097938c0 2.3505 1.7 4.3093 3.9 4.701-0.4 0.097938-0.8 0.19588-1.3 0.19588-0.3 0-0.6 0-0.9-0.097938 0.6 1.9588 2.4 3.3299 4.6 3.3299-1.7 1.2732-3.8 2.0567-6.1 2.0567-0.4 0-0.8 0-1.2-0.097938 2.2 1.3711 4.8 2.1546 7.5 2.1546 9.1 0 14-7.3454 14-13.711v-0.58763c1-0.68557 1.8-1.567 2.5-2.4485z"/></g></g></svg>
                </a>
              </li>
              <li>
                <a href="http://www.linkedin.com/company/biko" target="_blank" title="Ir al perfil de Linkedin de Biko">
                  <svg width="24px" enable-background="new 0 0 510 510" version="1.1" viewBox="0 0 510 510" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"> <path d="m459 0h-408c-28.05 0-51 22.95-51 51v408c0 28.05 22.95 51 51 51h408c28.05 0 51-22.95 51-51v-408c0-28.05-22.95-51-51-51zm-306 433.5h-76.5v-229.5h76.5v229.5zm-38.25-272.85c-25.5 0-45.9-20.4-45.9-45.9s20.4-45.9 45.9-45.9 45.9 20.4 45.9 45.9-20.4 45.9-45.9 45.9zm318.75 272.85h-76.5v-135.15c0-20.399-17.85-38.25-38.25-38.25s-38.25 17.851-38.25 38.25v135.15h-76.5v-229.5h76.5v30.6c12.75-20.4 40.8-35.7 63.75-35.7 48.45 0 89.25 40.8 89.25 89.25v145.35z"/></svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="u-list-none mr-md-4">
            <img class="mb-4" src="/assets/images/bikoschool/profesores-ruben.jpg" alt="" />
            <h3>Ruben</h3>
            <p>Etiam iaculis nunc ac metus. Phasellus accumsan cursus velit.</p>
          </li>
          <li class="u-list-none mr-md-4">
            <img class="mb-4" src="/assets/images/bikoschool/profesores-ruben.jpg" alt="" />
            <h3>Ruben</h3>
            <p>Etiam iaculis nunc ac metus. Phasellus accumsan cursus velit.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-5">
        <h2 class="c-title-huge mb-5">
          Si has llegado hasta aquí,<br>es que <strong>esto te interesa</strong>
        </h2>
        <div class="col-12 col-md-7 offset-md-1 col-lg-11 offset-lg-1">
          <p>Y tienes que darte prisa, porque esta primera edición es gratuita y las plazas vuelan.</p>
          <p>Inscríbete completando el siguiente formulario. Has de saber que inscribirse no significa obtener una plaza automáticamente. Primero tenemos que hacer el proceso de selección (recuerda que son solo 15 plazas).</p>
          <p>Anímate y nos ponemos en marcha.</p>
          <p><strong>¡Suerte!</strong></p>
        </div>
      </div>
      {% include "@base/insights/form-descarga.twig" %}
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
         <h2 class="c-title-doble-negrita mb-md-4">
          <span>Conoce</span><strong>a los profesores</strong>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 col-lg-9 offset-md-1">
        <p>
          Aprender no es fácil. Enseñar, tampoco. Por eso hemos elegido a personas que trabajan en grandes proyectos y tienen auténtica vocación por enseñar. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="d-flex justify-content-center">
          <li>
            <img class="mb-4" src="/assets/images/bikoschool/profesores-ruben.jpg" alt="" />
            <h3>
              Ruben
            </h3>
          </li>
          <li>
            <img class="mb-4" src="/assets/images/bikoschool/profesores-ruben.jpg" alt="" />
            <h3>
              Ruben
            </h3>
          </li>
          <li>
            <img class="mb-4" src="/assets/images/bikoschool/profesores-ruben.jpg" alt="" />
            <h3>
              Ruben
            </h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% include "@includes/contact.twig" %}
{% endblock %}
