{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero contenedor-secciones-hero">
  <div class="c-grid-image--right">
    <img data-src="/assets/images/proyectos/selfbank-cabecera.jpg" class="lazyload" alt="Selfbank" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7">
        <h1 class="c-title--pre text-uppercase mt-3 mt-md-4 mb-0">SELFBANK</h1>
        <h2 class="h-extrahuge">De usuarios brokers a <strong>ahorradores</strong></h2>
        <p class="c-title--sub">(en un tiempo récord)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-6">
        <p>Nuestro reto consistía en posicionar a Self Bank como un banco de experiencia digital completa para un público desconocedor de la marca.</p>
      </div>
    </div>
  </div>
</section>

<section class="u-bg-gray-light py-5 px-4 p-md-5 py-lg-7 mb-5  mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <p class="mb-md-6 c-title--big">Trabajamos dos equipos multidisciplinares para conceptualizar, diseñar y construir piezas como el site corporativo de información y venta, su centro de asesoramiento y comunidad de ayuda, su gestión de alimentación de leads, así como el diseño de su banca electrónica y homebanking.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-2 offset-lg-1">
        <h5 class="c-title--pre mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">SelfBank</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UX</li>
          <li class="u-list-none mb-0">Storytelling</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UI</li>
          <li class="u-list-none mb-0">Diseño Web</li>
        </ul>
        </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Drupal</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Web
        </h5>
         <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="https://www.selfbank.es/" target="_blank">SelfBank</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7 contenedor-secciones">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/selfbank-desafio.jpg" class="lazyloaded" alt="selfbank" src="/assets/images/proyectos/selfbank-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-5 col-lg-4 col-xl-3">
        <div class="pt-md-2 pt-xl-5">
          <h3>El desafío</h3>
          <p class="mb-0">Este paso de broker a banco online implicaba generar interés en unos usuarios más orientados al ahorro que a la inversión y lograr su conversión mediante todo un ecosistema digital de herramientas, formación y servicios para el control de su dinero, de forma que llegaran a ser #selfiters y pudieran manejar sus finanzas por sí mismos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/selfbank-enfoque.jpg" class="lazyloaded u-img-fluid" alt="Selfbank"  src="/assets/images/proyectos/selfbank-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="pt-md-2 pt-xl-5">Nuestro enfoque</h3>
        <p>Este ecosistema impulsado por Self Bank supuso el reto de <strong>conceptualizar, diseñar y construir</strong> piezas tan críticas como el site corporativo de información y venta, su centro de asesoramiento y comunidad de ayuda, su gestión de alimentación de leads, así como el diseño de su banca electrónica, homebanking, con el planteamiento de sus procesos financieros online y sus herramientas de inversión y finanzas personales en el tiempo récord de ¡6 meses!
        </p>
      </div>
    </div>
  </div>
</section>


<section class="c-mockup mb-5 mb-md-6 mb-lg-7">
  <div class="container">
  <!--
    <div class="row mb-0 mb-md-6">
      <div class="col-md-12 col-xl-10 offset-xl-1">
        <p class="c-title--big">
          En definitiva, una web que es una <strong>herramienta de trabajo versátil</strong> y que permite una gran autonomía.
        </p>
      </div>
    </div>
    -->


          <!--
          <div class="d-flex justify-content-between u-relative mb-5 mb-md-0">
            <div class="c-mockup-descripcion__icono c-icon--medium  c-icon--white u-bg-red">
                {{svgSprite('blog')}}
            </div>
            <div class="mr-4">
              <p class="mb-2">
                <strong>Para saber más:</strong>
              </p>
              <a href="https://blog.biko2.com/actualidad-biko/museos-y-centros-de-arte-en-el-s-xxi-claves-de-su-transformacion-digital/" target="_blank">
                <span class="c-link-especial">
                  Museos y centros de arte en el s.XXI. Claves de su transformación digital
                </span>
              </a>
            </div>
            <div class="align-self-end c-icon--arrow  c-icon--black">
              {{svgSprite('flecha-right')}}
            </div>
          </div>
           -->
      
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <h4 class="c-title-large mb-3">
              Dos equipos multidisciplinares
            </h4>
            <p>
           Este reto supuso decenas de sesiones colaborativas, cientos de wireframes, un cambio total de la imagen gráfica, decenas de componentes (atomic design) debidamente documentados para el equipo de integración propio de Self Bank y un continuo testeo de resultados y <strong>dos equipos multidisciplinares</strong> (independientes pero interconectados). 
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/selfbank-imagen-movil-1" class="lazyloaded u-img-fluid" alt="SelfBank" src="/assets/images/proyectos/selfbank-imagen-movil-1.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha">
            <img data-src="/assets/images/proyectos/selfbank-movil-1" class="lazyloaded u-img-fluid" alt="Pantalla movil SelfBank" src="/assets/images/proyectos/selfbank-movil-1.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-lg-5 mb-xl-0">
        <div class="col-md-12 col-lg-6 col-xl-3 offset-xl-1">
          <div class="d-flex flex-column">
            <h3>
              Producto final
            </h3>
            <p>Así, fuimos capaces de crear una experiencia única de banca, multicanal y multidispositivo, donde los usuarios alcanzan una autonomía total a la hora de decidir y gestionar sus ahorros e inversión antes y después de ser clientes Self Bank. </p>
             <p>Hoy, continuamos evolucionando mano a mano con Self Bank este proyecto, adaptándonos a los requisitos que se derivan de la evolución de necesidades del día a día. 
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/selfbank-producto-final-1.png" class="lazyloaded u-img-fluid" alt="Selfbank producto final" src="/assets/images/proyectos/selfbank-producto-final-1.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="pt-lg-0 pt-xl-6  pb-lg-0">
            <img data-src="/assets/images/proyectos/Selfbank-producto-final-2.jpg" class="lazyloaded u-img-fluid" alt="Selfbank producto final" src="/assets/images/proyectos/selfbank-producto-final-2.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-6  mb-xl-6 d-flex">
          <div class="d-flex c-bg-pattern">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <p class="mb-2">
                    <strong>Para saber más:</strong>
                  </p>
                  <a href="https://www.selfbank.es/" target="_blank">
                    <span class="c-link-especial">
                      Visita la web de SelfBank
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12  col-xl-10 offset-xl-1 mb-3">
        <p class="c-title--big mb-md-6">
          Para este proyecto tuvimos que construir y desplegar una <strong>infraestructura tecnológica</strong> segura, confiable, distribuida, escalable y eficiente.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="c-title-large">
              Drupal
            </h4>
            <p>
            Como contenedor y gestor de contenidos unificados (carta de productos y web)
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('magento')}}
          </div>
          <div>
            <h4 class="c-title-large">
              Magento
            </h4>
            <p>
              Como gestor de pedidos e-commerce y del programa de fidelización.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('ERP')}}
          </div>
          <div>
            <h4 class="c-title-large">
              ERP corporativo del grupo Rodilla
            </h4>
            <p>
            Totalmente integrado.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="c-texto--center">
          <h3 class="c-title--big mb-4">
            ¿Tienes alguna <strong>duda</strong> sobre este <strong>proyecto?</strong> <br>¿Te gustaría ver otros similares?
          </h3>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
