{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="mb-5 mb-md-7" id="top">
  <div class="p-proyecto__hero-new p-proyecto__hero--contraarchivos text-left">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <p class="mb-2 text-uppercase text-sm letter-base font-400">Museo Nacional Centro de Arte Reina Sofía</p>
          <h1 class="title-hero mb-4">
          Una experiencia cultural única
          </h1>

          <p class="font-secondary text-3xl color-red-middle mb-4">(Repensar Guernica evoluciona)</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-6">
                <p>Repensar Guernica es un proyecto del Museo Nacional Centro de Arte Reina Sofía. Junto a esta institución creamos en 2018 una plataforma ganadora de, entre otros premios, un Webby, (también llamados ‘los oscar de Internet’). En 2020 publicamos una nueva sección de esta web: Contra-archivos (im)posibles.</p>
            </div>
            <div class="col-lg-6">
                <p>Una experiencia digital completa, donde el usuario puede navegar e investigar sobre la forma en la que el Guernica de Picasso está presente en diversas manifestaciones artísticas y políticas.
Gracias a Contra-archivos (im)posibles volvemos a estar nominados a los Premios Webby.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque entradilla y datos-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-5 mb-md-6 title-slim-6xl u-strong-red">El resultado es una web con una navegación no lineal, con una conceptualización muy potente y un diseño gráfico muy intuitivo y experiencial.</p>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <p class="title-2xl font-light line-2xl">
      <strong>Cliente:</strong> Museo Nacional Centro de Arte Reina Sofía /
      <strong>Estrategia:</strong> Storytelling <span class="color-red">+</span> UX /
      <strong>Diseño:</strong> UI <span class="color-red">+</span> Diseño Web /
      <strong>Tecnología:</strong> Drupal <span class="color-red">+</span> D3.js <span class="color-red">+</span> React <span class="color-red">+</span> Api GraphQL /
      <strong>Web:</strong> <a class="c-link" href="https://guernica.museoreinasofia.es/contraarchivos-imposibles/es" target="_blank">Museo Nacional Centro de Arte Reina Sofía</a>
      </p>
    </div>
    </div>
  </div>
</section>
<div class="c-separator--line c-separator--line__horizontal"><hr /></div>
<!--Bloque El Desafio-->
<section id="desafio" class="contenedor-secciones mb-md-7 mb-lg-5 mb-xl-3">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/contra_archivos-4-desafio.jpg" class="lazyloaded" alt="Economia Circular" src="/assets/images/proyectos/contra_archivos-4-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-4">
        <div>
          <h3 class="title-7xl mb-4">El desafío</h3>
          <p>El principal reto fue trasladar al mundo online una profunda investigación que el profesor e historiador de Arte, Francis Frascina, había elaborado para el museo. Para ello, trabajamos con él mano a mano, y juntos conseguimos traducir su investigación documental a una <a href="https://blog.biko2.com/experiencia-de-usuario/contra-archivos-imposibles-parte-1/" target="_blank">experiencia interactiva</a> que permite al usuario crear su propio hilo argumental.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Nuestro enfoque-->
<section id="enfoque" class="c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-md-2 order-lg-1">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/contraarchivos-enfoque.gif" class="lazyloaded u-img-fluid" alt="Pantalla móvil con una cita sobre la sección de apadrinamiento"  src="/assets/images/proyectos/contraarchivos-enfoque.gif">
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 order-md-1 order-lg-2 d-flex align-items-center">
        <div>
          <h3 class="title-7xl mb-4">Nuestro enfoque</h3>
          <p>Quisimos crear una interfaz muy limpia, con fuerza visual y un diseño elegante e intuitivo para que los contenidos brillasen en todas sus formas. Para ello, diseñamos una herramienta interactiva e inmersiva, en la que se ven reflejados todos los elementos relativos a la memoria y el conocimiento del Guernica.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque frase-->
<section id="frase1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10">
        <p class="mb-5 mb-md-7 title-slim-6xl u-strong-red">Creamos un sistema basado en componentes que proporcionaba rapidez y versatilidad para crear landings en apenas unos minutos.</p>
      </div>
    </div>
  </div>
</section>
<!--Bloque Producto final-->
<section id="productofinal" class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div class="d-flex flex-column">
          <h3 class="title-7xl mb-4">Producto final</h3>
          <p>El resultado es un site en el que un interesado en el mundo del arte y la política puede perderse durante horas, construyendo su propia investigación, resignificando la obra de Picasso, yendo más allá del cuadro. </p>
          <div class="d-flex">
            <div class="d-flex align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between u-relative">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('blog')}}
                </div>
                <div class="mr-4">
                  <h4 class="title-2xl decoration-red pt-2 mb-3">Para saber más:</h4>
                    <a href="https://blog.biko2.com/experiencia-de-usuario/contra-archivos-imposibles-parte-2/" target="_blank">
                    <span class="c-link-especial">
                      Diseñando una experiencia cultural innovadora
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
        <img data-src="/assets/images/proyectos/contraarchivos-dfinal.jpg" class="lazyloaded u-img-fluid" alt="Pantalla móvil y tablet de la página de economía circular" src="/assets/images/proyectos/contraarchivos-dfinal.jpg">
      </div>
    </div>
  </div>
</section>
<!--Bloque Para saber mas-->
<section id="parasabermas" class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div>
          <img data-src="/assets/images/proyectos/contraarchivos-producto-final-2-22.jpg" class="lazyloaded u-img-fluid" alt="Pantalla móvil y tablet de la página de economía circular" src="/assets/images/proyectos/contraarchivos-producto-final-2-22.jpg">
        </div>
      </div>
      <div class="col-md-12 col-lg-6 d-flex c-bg-pattern c-bg-pattern__rigth">
        <div class="d-flex">
          <div class="d-flex  align-items-center c-gallery__bg">
            <div class="c-gallery--contenido d-flex justify-content-between  u-relative my-5 mx-md-6 mx-xl-7">
              <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                {{svgSprite('link')}}
              </div>
              <div class="mr-4">
                <h4 class="title-2xl decoration-red pt-2 mb-3">Para saber más:</h4>
                   <a href="https://guernica.museoreinasofia.es/contraarchivos-imposibles/es" target="_blank">
                  <span class="c-link-especial">
                    Museo Nacional Centro de Arte Reina Sofía
                  </span>
                </a>
              </div>
              <div class="align-self-end c-icon--arrow c-icon--black">
                {{svgSprite('flecha-right')}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Bloque Tecnologia-->
<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-10 mb-4 mb-md-6">
        <p class="title-slim-6xl u-strong-red">
          Para construir un proyecto de estas características tuvimos que recurrir a:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Drupal
            </h4>
            <p>
              Como backend para la gestión documental de todos los contenidos que forman la investigación.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('D3')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
            D3.js</h4>
            <p>
              Para la representación del diagrama de nodos
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('spa-react')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              React
            </h4>
            <p>
              Como UI de la aplicación, encargada de mostrar la información de los nodos del diagrama, y facilitar la navegación entre ellos.
            </p>
          </div>
        </div>
      </div>
       <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('GraphQL')}}
          </div>
          <div>
            <h4 class="title-2xl decoration-red pt-2 mb-3">
              Api GraphQL
            </h4>
            <p>
              Como UI de la aplicación, encargada de mostrar la información de los nodos del diagrama, y facilitar la navegación entre ellos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@base/proyectos/contacto-proyectos.twig" %}
{% include "@includes/subir.twig" %}
{% include "@includes/contact.twig" %}
{% endblock %}
