<section class="mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 mb-4">
        <h2 class="title-6xl mb-4 text-left">
          <strong>Dudas resueltas</strong>
        </h2>
        <p class="font-secondary text-3xl color-red mb-4">(que no quede nada en el tintero)</p>
      </div>
      <div class="col-lg-6 pr-4 pr-lg-6">
        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Por qué un Open Space?</h3>
        <p class="mb-md-5">Porque creemos en el conocimiento compartido y en Biko tenemos mucho talento que no queremos guardar solo para nosotros. Nos gusta este formato ágil en el que todos podemos proponer y elegir los temas sobre los que nos interesa aprender, debatir y compartir. </p>

        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Y de qué se habla?</h3>
        <p class="mb-md-5">Algunos de los temas elegidos en esta ocasión han sido React, machine learning, tecnologías del futuro que parecen de ciencia ficción, Kickstarter, narrativa metafórica... pero habrá tiempo para plantear nuevos temas in situ.</p>

        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Cómo puedo apuntarme?</h3>
        <p class="mb-md-5">Rellena tus datos en el formulario o mándanos un email a <em>comunicacion@biko2.com</em>. No tienes que hacer nada más, nosotros nos encargamos del resto.  </p>

        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Me apunto si el aforo está completo?</h3>
        <p>Apúntate, igual tienes suerte. Siempre suele haber bajas de última hora. Si no te importa la incertidumbre, te avisaremos en cuanto quede un hueco disponible para que puedas venir al Open Space. </p>
      </div>
      <div class="col-lg-6 pr-4 pr-lg-6">
        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Es gratis?</h3>
        <p class="mb-md-5">Claro que sí. El concepto del Open Space implica compartir el conocimiento desinteresadamente. Por eso, la entrada es libre previa inscripción, porque no queremos que nadie se quede fuera.</p>

        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Cómo puedo proponer una charla?</h3>
        <p class="mb-md-5">Puedes mandarla por email a <em>comunicacion@biko2.com</em>. También habrá tiempo para proponer y votar nuevas charlas entre todos durante el Open Space.</p>

        <h3 class="title-2xl decoration-red pt-2 mb-2">¿Tengo que asistir a todas las charlas?</h3>
        <p class="mb-md-5">No, puedes adaptar el horario como mejor te venga: estar toda la jornada o asistir solo a alguna de las charlas. No hay ninguna regla ni pasaremos lista. </p>

        <h3 class="title-2xl decoration-red pt-2 mb-2">Me he apuntado y al final no puedo ir...</h3>
        <p>No pasa nada, avísanos con un email a <em>comunicacion@biko2.com</em> para que lo tengamos en cuenta y podamos ceder tu plaza a alguien en lista de espera. Esperamos verte en el próximo Open Space de Biko. </p>
      </div>
    </div>
  </div>
</section>

<!--<section class="mb-5 mb-md-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
      <h2 class="title-6xl mb-4 text-left">
        <strong>Dudas resueltas</strong>
      </h2>
      <p class="font-secondary text-3xl color-red-middle mb-4">(que no quede nada en el tintero)</p>

      </div>
      <div class="col-12">
        <ul class="c-acordeon" id="acordeonAnidado">
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingUno">
              <a class="c-acordeon__card__link textl-2xl" type="button" data-toggle="collapse" data-target="#collapseUno" aria-expanded="false" aria-controls="collapseUno">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                ¿Por qué un Open Space?
              </a>
            </div>
            <div id="collapseUno" class="collapse" aria-labelledby="headingUno" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p class="mb-0">Porque creemos en el conocimiento compartido y en Biko tenemos mucho talento que no queremos guardar solo para nosotros. Nos gusta este formato ágil en el que todos podemos proponer y elegir los temas sobre los que nos interesa aprender, debatir y compartir.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingTres">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseTres" aria-expanded="false" aria-controls="collapseTres">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                ¿Es gratis?
              </a>
            </div>
            <div id="collapseTres" class="collapse" aria-labelledby="headingTres" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p class="mb-0">Claro que sí. El concepto del Open Space implica compartir el conocimiento desinteresadamente. Por eso, la entrada es libre previa inscripción, porque no queremos que nadie se quede fuera.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingCuatro">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseCuatro" aria-expanded="false" aria-controls="collapseCuatro">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                ¿Y de qué se habla?
              </a>
            </div>
            <div id="collapseCuatro" class="collapse" aria-labelledby="headingCuatro" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p class="mb-0">Algunos de los temas elegidos en esta ocasión han sido React, machine learning, tecnologías del futuro que parecen de ciencia ficción, Kickstarter, narrativa metafórica... pero habrá tiempo para plantear nuevos temas in situ.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingDos">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseDos" aria-expanded="false" aria-controls="collapseUno">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                ¿Cómo puedo apuntarme?
              </a>
            </div>
            <div id="collapseDos" class="collapse" aria-labelledby="headingDos" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p class="mb-0">Rellena tus datos en el formulario o mándanos un email a <i>comunicacion@biko2.com</i>. No tienes que hacer nada más, nosotros nos encargamos del resto.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingCinco">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseCinco" aria-expanded="false" aria-controls="collapseCinco">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                ¿Me apunto si el aforo está completo?
              </a>
            </div>
            <div id="collapseCinco" class="collapse" aria-labelledby="headingCinco" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p class="mb-0">Apúntate, igual tienes suerte. Siempre suele haber bajas de última hora. Si no te importa la incertidumbre, te avisaremos en cuanto quede un hueco disponible para que puedas venir al Open Space.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingSeis">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseSeis" aria-expanded="false" aria-controls="collapseSeis">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                ¿Cómo puedo proponer una charla?
              </a>
            </div>
            <div id="collapseSeis" class="collapse" aria-labelledby="headingSeis" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p class="mb-0">Puedes mandarla por email a <i>comunicacion@biko2.com</i>. También habrá tiempo para proponer y votar nuevas charlas entre todos durante el Open Space.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingSiete">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseSiete" aria-expanded="false" aria-controls="collapseSiete">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                ¿Tengo que asistir a todas las charlas?
              </a>
            </div>
            <div id="collapseSiete" class="collapse" aria-labelledby="headingSiete" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p class="mb-0">No, puedes adaptar el horario como mejor te venga: estar toda la jornada o asistir solo a alguna de las charlas. No hay ninguna regla ni pasaremos lista.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-acordeon__card">
            <div class="c-acordeon__card__header" id="headingOcho">
              <a class="c-acordeon__card__link" type="button" data-toggle="collapse" data-target="#collapseOcho" aria-expanded="false" aria-controls="collapseOcho">
                <div class="c-icon--base c-icon--black c-acordeon__card__icono">
                  {{svgSprite('arrow')}}
                </div>
                Me he apuntado y al final no puedo ir...
              </a>
            </div>
            <div id="collapseOcho" class="collapse" aria-labelledby="headingOcho" data-parent="#acordeonAnidado">
              <div class="c-acordeon__card__body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p class="mb-0">No pasa nada, avísanos con un email a  <i>comunicacion@biko2.com</i> para que lo tengamos en cuenta y podamos ceder tu plaza a alguien en lista de espera. Esperamos verte en el próximo Open Space de Biko.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>-->
