{# ----- PROYECTO ----- #}
{% extends "@layouts/page.twig" %}
{% block page %}

<section class="c-hero p-proyecto__hero contenedor-secciones-hero">
  <div class="c-grid-image--right">
    <img data-src="/assets/images/proyectos/tagliatella-cabecera.jpg" class="lazyload" alt="La Tagliatella" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-7">
        <h1 class="c-title--pre text-uppercase  mt-3 mt-md-4 mb-0">la tagliatella</h1>
        <h2 class="h-extrahuge"><strong>Hablamos</strong><br>tu idioma</h2>
        <p class="c-title--sub">(gastronómica y digitalmente)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-6">
        <p></p>
      </div>
    </div>
  </div>
</section>

<section class="u-bg-gray-light py-5 px-4 p-md-5 py-lg-7 mb-5  mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <p class="mb-md-6 c-title--big">Una única plataforma para la gestión de 5 sites de manera sencilla y flexible.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-2 offset-lg-1">
        <h5 class="c-title--pre mb-1">
          Cliente
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">La Tagliatella</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Estrategia
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UX</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Diseño
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">UI</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Tecnología
        </h5>
        <ul class="pl-0">
          <li class="u-list-none mb-0">Drupal 8</li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-2">
        <h5 class="c-title--pre mb-1">
          Web
        </h5>
         <ul class="pl-0">
          <li class="u-list-none mb-0">
            <a class="c-link" href="https://www.latagliatella.es/" target="_blank">La Tagliatella</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="contenedor-secciones">
  <div class="c-grid-image--right--big mb-4 mb-mb-0">
    <img data-src="/assets/images/proyectos/tagliatella-desafio" class="lazyloaded" alt="La Tagliatella" src="/assets/images/proyectos/tagliatella-desafio.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-1 col-md-5 col-lg-4 col-xl-3">
        <div class="pt-md-2 pt-xl-5">
          <h3>El desafío</h3>
          <p class="mb-0">En este caso, el punto de partida era crear una experiencia digital que trasladase a los usuarios los <strong>valores</strong> de la marca de La Tagliatella. Por ello, desde el primer momento centramos todos los esfuerzos en crear un site que llevara a la web la experiencia de visita física a cualquiera de los restaurantes.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-pattern c-bg-pattern__left mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4 mb-md-0">
          <img data-src="/assets/images/proyectos/tagliatella-enfoque" class="lazyloaded u-img-fluid" alt="La Tagliatella pantalla de móvil" src="/assets/images/proyectos/tagliatella-enfoque.jpg">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h3 class="pt-md-2 pt-xl-5">Nuestro enfoque</h3>
        <p>Aprovechando toda la potencia de Drupal 8, el objetivo era desarrollar un gestor de contenidos que aportase todas las funcionalidades tanto para la creación de contenidos como para los usuarios.</p>
      </div>
    </div>
  </div>
</section>



<section class="c-mockup mb-5 mb-md-6 mb-lg-7">
  <div class="container">
  <!--
    <div class="row mb-0 mb-md-6">
      <div class="col-md-12 col-xl-10 offset-xl-1">
        <p class="c-title--big">
          En definitiva, una web que es una <strong>herramienta de trabajo versátil</strong> y que permite una gran autonomía.
        </p>
      </div>
    </div>
  -->
    <div class="row mb-6  mb-xl-7">
      <div class="col-md-5 col-xl-3 offset-lg-1 d-flex align-items-center order-md-2 order-xl-1">
        <div class="c-mockup-descripcion">
          <div>
          <!--
            <h4 class="c-title-large mb-3">
              Un proyecto no acaba cuando se publica
            </h4>
            <p> -->
            Desarrollamos un Drupal <strong>multisite y multiidioma</strong> que permite unificar la gestión de contenidos para la publicación simultáneamente en varios sites. El sistema de gestión de landings por idiomas basado en componentes facilita también la <strong>personalización de contenidos</strong>.
            </p>
          </div>
           <!--
          <div class="d-flex justify-content-between u-relative mb-5 mb-md-0">
            <div class="c-mockup-descripcion__icono c-icon--medium  c-icon--white u-bg-red">
                {{svgSprite('blog')}}
            </div>
            <div class="mr-4">
              <p class="mb-2">
                <strong>Para saber más:</strong>
              </p>
              <a href="https://blog.biko2.com/actualidad-biko/museos-y-centros-de-arte-en-el-s-xxi-claves-de-su-transformacion-digital/" target="_blank">
                <span class="c-link-especial">
                  Museos y centros de arte en el s.XXI. Claves de su transformación digital
                </span>
              </a>
            </div>
            <div class="align-self-end c-icon--arrow  c-icon--black">
              {{svgSprite('flecha-right')}}
            </div>
          </div>
          -->
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block order-xl-2">
            <img data-src="/assets/images/proyectos/tagliatella-imagen-movil-1" class="lazyloaded u-img-fluid" alt="Museo Thyssen-Bornemisza" src="/assets/images/proyectos/tagliatella-imagen-movil-1.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha c-mockup-ml-negativo c-mockup-imagenes-montaje  order-xl-1">
            <img data-src="/assets/images/proyectos/tagliatella-movil-1" class="lazyloaded u-img-fluid" alt="Pantalla coleccion" src="/assets/images/proyectos/tagliatella-movil-1.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-xl-3 offset-lg-1 order-md-2 d-flex align-items-center">
        <div class="c-mockup-descripcion">
          <div>
            <!--<h4 class="c-title-large mb-3">
              Mejorando su CRO (y ayudándoles a generar más ingresos)
            </h4>-->
            <p>
            Un aspecto destacado del desarrollo es el buscador de restaurantes con todas las funcionalidades de geolocalización. Además, la integración con el <strong>CRM</strong> que gestiona las reservas y pedidos completa los servicios que ofrece el site a los usuarios.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 offset-xl-1 order-md-1">
        <div class="c-mockup-imagenes">
          <div class="c-mockup-imagenes--izquierda d-none d-lg-block">
            <img data-src="/assets/images/proyectos/tagliatella-imagen-movil-2" class="lazyloaded u-img-fluid" alt="La Tagiatella pantalla móvil" src="/assets/images/proyectos/tagliatella-imagen-movil-2.jpg">
          </div>
          <div class="c-mockup-imagenes--derecha">
            <img data-src="/assets/images/proyectos/tagliatella-movil-2" class="lazyloaded u-img-fluid" alt="La Tagiatella pantalla móvil" src="/assets/images/proyectos/tagliatella-movil-2.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="c-gallery">
    <div class="container">
      <div class="row mb-lg-5 mb-xl-0">
        <div class="col-md-12 col-lg-6 col-xl-3 offset-xl-1">
          <div class="d-flex flex-column">
            <h3>
              Producto final
            </h3>
            <p>
            Una estructura digital sólida que permite escalar lo que el negocio necesite. Una <strong>única plataforma</strong> para la gestión de 5 sites de manera sencilla y flexible.
            </p>
            <p class="mb-5 mb-md-5 mb-lg-0">
            En definitiva, una experiencia web muy cuidada tanto en diseño como en contenidos.
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-7 offset-xl-1 mb-5 mb-lg-0 mb-xl-4">
          <img data-src="/assets/images/proyectos/tagliatella-producto-final-2-3" class="lazyloaded u-img-fluid" alt="Pantalla La Tagliatella" src="/assets/images/proyectos/tagliatella-producto-final-2-3.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="pt-lg-0 pt-xl-6  pb-lg-0">
            <img data-src="/assets/images/proyectos/tagliatella-producto-final-2" class="lazyloaded u-img-fluid" alt="Pantalla La Tagliatella" src="/assets/images/proyectos/tagliatella-producto-final-2.jpg">
          </div>
        </div>
        <div class="col-md-12 col-lg-6  mb-xl-6 d-flex">
          <div class="d-flex c-bg-pattern">
            <div class="d-flex  align-items-center c-gallery__bg">
              <div class="c-gallery--contenido d-flex justify-content-between u-relative my-5 mx-md-6 mx-xl-7">
                <div class="c-gallery--icono c-icon--medium  c-icon--white u-bg-red">
                  {{svgSprite('link')}}
                </div>
                <div class="mr-4">
                  <p class="mb-2">
                    <strong>Para saber más:</strong>
                  </p>
                  <a href="https://www.latagliatella.es/" target="_blank">
                    <span class="c-link-especial">
                      Visita la web de La Tagliatella
                    </span>
                  </a>
                </div>
                <div class="align-self-end c-icon--arrow c-icon--black">
                  {{svgSprite('flecha-right')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="mb-5 mb-md-6 mb-lg-7">
  <div class="container">
    <div class="row">
      <div class="col-md-12  col-xl-10 offset-xl-1">
        <p class="c-title--big mb-md-6">
          Hemos incluido herramientas en la propia gestión de contenidos que permiten la máxima personalización en función de los dispositivos de los usuarios.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="d-flex">
          <div class="mr-4 c-icon--large c-icon--red">
            {{svgSprite('drupal')}}
          </div>
          <div>
            <h4 class="c-title-large">
              Drupal
            </h4>
            <p>
              Para unificar la gestión de contenidos de varios site y que tienen una publicación simultánea.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-bg-big py-5 py-md-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="c-texto--center">
          <h3 class="c-title--big mb-4">
            ¿Tienes alguna <strong>duda</strong> sobre este <strong>proyecto?</strong> <br>¿Te gustaría ver otros similares?
          </h3>
          <p class="mb-4">
            Cuéntanos qué necesitas. Estaremos encantados de poder atenderte.
          </p>
          <div class="d-flex justify-content-center" data-drip-show-form="740822926">
            <a class="c-button gtm-lead-proyecto" href="#" target="_blank">
              Contacta con nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>








<div class="c-separator--line"><hr /></div>
{% include "@includes/contact.twig" %}

{% endblock %}
