  <section id="que-ofrecemos" class="mb-0 bg-gray-extralight py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-5xl mb-5">¿Qué ofrecemos?</h2>
          <div class="row">
            <div class="col-lg-6 pr-4 pr-lg-6">
              <div class="d-flex">
                <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('sueldo')}}</div>
                <div>
                  <p class="u-decoration-red pt-2 mb-0">Un sueldo entre <strong>24.000€</strong> y <strong>30.000€</strong> <strong><span class="color-red">+</span> bonus</strong>, dependiendo de lo que puedas aportar.</p>
                  <p class="font-secondary color-red mb-5">(si estás fuera de este rango pero te interesa trabajar en Biko, no tengas vergüenza y cuéntanoslo también).</p>
                </div>
              </div>
              <div class="d-flex">
                  <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('modalidad')}}</div>
                  <div>
                    <p class="u-decoration-red pt-2 mb-0"><strong>Presencial</strong> o <strong>remoto</strong>.</p>
                    <p class="font-secondary color-red mb-5">(nuestras oficinas están en Mutilva).</p>
                  </div>
              </div>
              <div class="d-flex">
                  <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('horario')}}</div>
                  <p class="u-decoration-red pt-2 mb-5"><strong>Horario flexible de entrada y salida.</strong> Tú decides cómo organizar tu horario, siempre con sentido común y consensuado con el resto del equipo.</p>
              </div>
              <div class="d-flex">
                  <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('verano')}}</div>
                  <div>
                    <p class="u-decoration-red pt-2 mb-0"><strong>Horario de verano.</strong></p>
                    <p class="font-secondary color-red mb-5">(menos horas de trabajo durante julio, agosto y septiembre).</p>
                  </div>
              </div>
            </div>
            <div class="col-lg-6 pr-4 pr-lg-6">
              <div class="d-flex">
                  <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('vacaciones')}}</div>
                  <p class="u-decoration-red pt-2 mb-5"><strong>Vacaciones</strong> 22 días laborables.</p>
              </div>
              <div class="d-flex">
                  <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('equipo')}}</div>
                  <p class="u-decoration-red pt-2 mb-5"><strong>Equipo necesario</strong> para que puedas trabajar cómodamente.</p>
              </div>
              <div class="d-flex">
                  <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('ambiente')}}</div>
                  <p class="u-decoration-red pt-2 mb-5">Un <strong>ambiente enriquecedor y diverso</strong>, donde desarrollarte como profesional, como persona y con unos compañeros/as muy majos/as.</p>
              </div>
              <div class="d-flex">
                  <div class="mr-4 c-icon--large c-icon--red">{{svgSprite('ingles')}}</div>
                  <p class="u-decoration-red pt-2"><strong>Opción </strong>de asistir a clases de <strong>inglés</strong>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>